<form class="form-with-validation account-form" action="{{ global.current_url }}" method="post">
	{{ shopwired.form_errors(errors) }}
	{% if global.customer.trade or customer.trade %}
		<div class="row">
			<div class="col-lg-5 col-md-6 col-xs-12 padding-md-r">
				<div class="form-group">
					<label class="control-label">Company Name:</label>
					<div>
						{{ html.input('company', form_field_value('company', global.customer.company), 'form-control') }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-lg-5 col-md-6 col-xs-12 padding-md-r">
			<div class="form-group">
				<label class="control-label">First Name:</label>
				<div>
					{{ html.input('firstname', form_field_value('firstname', global.customer.first_name), 'form-control required') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Email Address:</label>
				<div>
					{{ html.input('email', form_field_value('email', global.customer.email), 'form-control required', 'text', 'autocomplete="off"') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Telephone No:</label>
				<div>
					{{ html.input('phone', form_field_value('phone', global.customer.phone), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">3rd Line Address:</label>
				<div>
					{{ html.input('address_line3', form_field_value('address_line3', global.customer.address_line3), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Postcode:</label>
				<div>
					{{ html.input('zip', form_field_value('zip', global.customer.zip), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Country:</label>
				<div>
					{{ html.select('country_id', countries, form_field_value('country_id', global.customer.country_id|default(222)), 'form-control custom-select', 'Select...') }}
				</div>
			</div>
			{% if customer_sources|length %}
				<div class="form-group">
					<label class="control-label">How did you hear about us?</label>
					<div>
						{{ html.select('source', customer_sources, form_field_value('source'), 'form-control custom-select', 'Select...') }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col-lg-5 col-md-6 col-xs-12 padding-md-l">
			<div class="form-group">
				<label class="control-label">Last Name:</label>
				<div>
					{{ html.input('lastname', form_field_value('lastname', global.customer.last_name), 'form-control required') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Password:</label>
				<div>
					<input type="password" name="password" autocomplete="off" class="form-control {{ global.customer.id ? '' : 'required' }}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">1st Line Address:</label>
				<div>
					{{ html.input('address_line1', form_field_value('address_line1', global.customer.address_line1), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">2nd Line Address:</label>
				<div>
					{{ html.input('address_line2', form_field_value('address_line2', global.customer.address_line2), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Town/City:</label>
				<div>
					{{ html.input('city', form_field_value('city', global.customer.city), 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Do you want to receive our newsletters?</label>
				<div>
					<span class="custom-checkbox">
						<span class="icon-toggle icon-checkbox"></span>
						<input type="checkbox" name="marketing" value="1" {{ form_field_value('marketing', global.customer.accepts_marketing) ? 'checked="checked"' : '' }} />
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="form-group margin-t-xs">
				{{ shopwired.honeypot() }}
				<button type="submit" class="btn button-theme full-md">
					{% if global.customer.id %}
						Save
					{% else %}
						{{ shopwired.snippet(global.customer.trade or customer.trade ? 'button_create_trade_account' : 'button_create_account') }}
					{% endif %}
				</button>
			</div>
		</div>
	</div>
</form>
