{% for item in items %}
	<div class="item">
		<div class="shopwired-image-container" data-fit="{{ global.theme.settings.image_container_product ? '1' : '0' }}">
			<img src="{{ item.product.photo_url }}" alt="{{ item.product.photo_description }}" />
		</div>
		<div class="info">
			<div class="column">
				<div class="content">
					<div class="title">
						{% if item.is_gift_voucher %}
							{{ item.product.title|raw }}
						{% else %}
							{{ item.product.title }}
						{% endif %}
						x
						{{ item.quantity }}
					</div>
					<div class="options">
						{% for name, value in item.options %}
							<span>
								{{ name }}:
								<strong>
									{{ value }}
								</strong>
							</span>
						{% endfor %}
						{% for name, value in item.alt_options %}
							<span>
								{{ name }}:
								<strong>
									{{ value }}
								</strong>
							</span>
						{% endfor %}
						{% for extra in item.extras %}
							<span>
								{{ extra.name }}:
								<strong>
									{{ currency_value(extra.price) }}
								</strong>
							</span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="column">
				<div class="content">
					<div class="price main-color">
						{% if item.product.reward_points_enabled %}
							{{ item.total }}
							points
						{% else %}
							{{ currency_value(item.total) }}
						{% endif %}
					</div>
					<div class="remove">
						<a class="remove-button alternative-color" href="{{ item.remove_url }}">remove</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
