{% for post in posts %}
	<div class="blog-container row">
		{% if preview and post.thumbnail.image_url %}
			<div class="col-md-4 hidden-sm">
				<div class="blog-image">
					<a href="{{ post.url }}" class="shopwired-image-container" data-fit="{{ global.theme.settings.image_container_blog_thumbnail ? '1' : '0' }}">
						<img src="{{ post.thumbnail.image_url }}" alt="{{ post.title }}" />
					</a>
				</div>
			</div>
		{% endif %}
		<div class="{{ preview and post.thumbnail.image_url ? 'col-md-8' : 'col-md-12' }} col-sm-12">
			<div class="blog-content">
				<h2>
					<div class="date-container">
						<span class="date">
							<div class="day">{{ post.date|date('j') }}</div>
							<div class="month">{{ post.date|date('M') }}</div>
						</span>
					</div>
					{{ post.title }}
				</h2>
				<div class="blog-post-content p">
					{{ preview ? post.excerpt|raw : post.content|raw }}
				</div>
				{% if preview %}
					<a href="{{ post.url }}" class="button-t-theme">Read more...</a>
				{% endif %}
			</div>
		</div>

	</div>
{% else %}
	<div class="row">
		<div class="col-sm-12">
			No blog posts found.
		</div>
	</div>
{% endfor %}
