<h3>Shop by category</h3>
<ul>
	{% for category in global.categories %}
		{% if category.categories %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="{{ category.url }}">
					{{ category.title }}
				</a>
				<ul class="dropdown-menu" role="menu">
					{% for subcategory in category.categories %}
						<li>
							<a href="{{ subcategory.url }}">{{ subcategory.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li>
				<a href="{{ category.url }}">{{ category.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
