<div class="row">
	{% for category in categories %}
		<div class="col-md-4 col-xs-6 item-category">
			<a href="{{ category.url }}" class="shopwired-image-container" data-fit="{{ brands ? 0 : (global.theme.settings.image_container_category ? '1' : '0') }}">
				<img src="{{ category.photo_url }}" alt="{{ category.title }}" />
			</a>
			<div class="category-title">
				<h4>
					<a href="{{ category.url }}">
						{{ category.title }}
					</a>
				</h4>
			</div>
		</div>
	{% endfor %}
</div>
