<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-12">
					<h2>{{ global.business.name }}</h2>
				</div>
				<div class="col-lg-7 col-md-12">
					<div class="row">
						<div class="col-md-4">
							{{ shopwired.link_list('list_footer_1', '', true) }}
						</div>
						<div class="col-md-4 no-padding-l">
							{{ shopwired.link_list('list_footer_2', '', true) }}
						</div>
						<div class="col-md-4 contact">
							{% if global.business.email %}
								<span class="highlight">Email</span>
								<span class="email">{{ global.business.email }}</span>
							{% endif %}
							{% if global.business.phone %}
								<span class="highlight">Telephone</span>
								<span>{{ global.business.phone }}</span>
							{% endif %}
							<span class="highlight">{{ global.business.one_line_address }}</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12">
					<div class="socials">
						{% for link in global.social_links %}
							<a href="{{ link.url }}" target="_blank" class="{{ link.name }}">
								<img src="{{ asset_url('images/' ~ link.name ~ '.png') }}" alt="{{ link.title }}">
							</a>
							{% if loop.index == 4 %}
								<span class="br"><br /></span>
							{% endif %}
						{% endfor %}
					</div>
					{% if global.theme.settings.mailchimp_action %}
						<form action="{{ global.theme.settings.mailchimp_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
							<div class="input-group input-icon">
								<input type="text" class="form-control" placeholder="Sign up to our newsletter..." name="EMAIL">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<span class="icon-secondrightarrow"></span>
									</button>
								</span>
							</div>
						</form>
					{% else %}
						<form action="/newsletter-subscribe" method="post">
							<div class="input-group input-icon">
								<input type="text" class="form-control" placeholder="Sign up to our newsletter..." name="email">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<span class="icon-secondrightarrow"></span>
									</button>
								</span>
								{{ shopwired.honeypot() }}
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p>
						{{ shopwired.snippet('text_copyright') }}
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1002330462;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1002330462/?value=0&guid=ON&script=0"/>
</div>
</noscript>
