<header>
	<div class="main-navigation-container container-fluid nav-bar">
            <div id="logo" class="header-left">
					<a href="https://myhummy.co.uk">
                        {% if global.business.logo_url %}
						<img src="{{ global.business.logo_url }}" alt="{{ global.business.name }}">
                        {% else %}
                        <img src="{{ asset_url('images/logo_myhummy_2018.svg') }}" alt="{{ global.business.name }}">
                        {% endif %}
					</a>                
            </div>
            <div class="header-menu">
                {{ shopwired.link_list('list_header', 'user-menu hide-under-lg', true) }}                
            </div>
            <div class="header-right">
                <div class="">
                    <div class="shopping-box hide-under-lg">
                        <a href="/wishlist" class="wishlist">
                            <i class="icon-heart"> </i>
                            <span>{{ global.wishlist.items }}</span></a>
                        <a href="/checkout/basket" class="shopping-bag">
                            <i class="icon-basket"> </i>                            
                            <span>{{ global.basket.items }}</span>
                        </a>
                        <a href="/account" class="user-account">
                            <i class="icon-user"> </i>                            
                        </a>                        
                    </div>
                    {% if global.currencies %}
                        <ul class="currencies-menu">
                            {% for currency in global.currencies %}
                                <li>
                                    <a href="{{ currency_url(currency.id) }}" class="{{ currency.current ? 'active' : '' }}">
                                        {{ currency.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>     
                <div class="top-header-mobile">                    
                    <span id="menu-trigger">
                        <i class="icon-menu"></i>
                        <span class="hidden-xs">Menu</span>
                    </span>                    
                </div>               
            </div>

	</div>
                <ul id="user-menu-collapsed">
                    {% for link in global.theme.settings.list_header.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>     
</header>
