{% set myhummies = ["Max", "Mia", "Matt", "Leon", "Lena", "Lily"] %}
{% set props = [
	{name: "bear", icon: "images/icon-new-bear.svg", label: "Plush teddy bear", includes:myhummies },
	{name: "heart", icon: "images/icon-new-heart.svg", label: "Humming Heart sound unit", includes:myhummies },
	{name: "atachement ring", icon: "images/icon-new-toy.svg", label: "Attachment ring/teether", includes:myhummies},
	{name: "pouch", icon: "images/icon-new-heart-2.svg", label: "Travel pouch for the Humming Heart", includes:["Max", "Mia", "Leon", "Lena"]},
	{name: "5 sounds", icon: "images/icon-new-5.svg", label: "5 types of sound", includes:myhummies },
	{name: "60", icon: "images/icon-new-60.svg", label: "Gentle fade-out", includes:myhummies },
	{name: "volume", icon: "images/icon-new-speaker.svg", label: "Volume control", includes:myhummies },	
	{name: "washable", icon: "images/icon-new-washing.svg", label: "Machine washable", includes:myhummies },
	{name: "simple", icon: "images/icon-new-simple.svg", label: "One button operation", includes:myhummies },
	{name: "zero plus", icon: "images/icon-new-zero-plus.svg", label: "Suitable from birth", includes:myhummies },
	{name: "zero plus", icon: "images/icon-new-tick.svg", label: "Certified fabrics", includes:myhummies },
	{name: "made in EU", icon: "images/icon-new-eu.svg", label: "Made in EU", includes:myhummies }
	] %}

<div class="extra-info">
	<ul class="props">	
	{% for prop in props %}
		{% if product.title in prop.includes %}
						<li class="prop">				
							<span class=icon><img src="{{ asset_url(prop.icon) }}" alt="{{ prop.label }}"></span>
							<label>{{ prop.label }}</label>
						</li>	
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% if product.title in myhummies %}
<div>
	<p><a href="https://shop.myhummy.co.uk/app-compatiblity" target=_blank >Check your device's compatibility before purchase.</a></p> 
	<p>This white noise toy requires 3 AAA batteries (not included)</p>
	<p>Please read the <a href="https://shop.myhummy.co.uk/baby-sleep-safety" target=_blank >sleep safety guidelines</a></p>
</div>
{% endif %}