<div class="row">
	<div class="col-sm-12">
		{% if sorting %}
			<div class="sort-options inline">
				<a href="javascript:" class="sort-option {{ sort_option == 'price_asc' ? 'current' : '' }}" data-value="price_asc">Price (low to high)</a>
				<a href="javascript:" class="sort-option {{ sort_option == 'price_desc' ? 'current' : '' }}" data-value="price_desc">Price (high to low)</a>
			</div>
		{% endif %}
		<nav class="pagination-container pull-right">
			{% if total_pages > 1 %}
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous" class="page-link" data-page="prev"><span aria-hidden="true">Previous</span></a>
					</li>
					{% for page in 1..total_pages %}
						<li>
							<a href="#" class="page-link {{ page == current_page ? 'current' : '' }}" data-page="{{ page }}">{{ page }}</a>
						</li>
					{% endfor %}
					<li>
						<a href="#" aria-label="Next" class="page-link" data-page="next"><span aria-hidden="true">Next</span></a>
					</li>
				</ul>
			{% endif %}
		</nav>
	</div>
</div>
