{% set wide_product_box = global.current_path == '/search/products' or global.current_path == '/wishlist' %}
<div class="{{ container_class|default('row') }}">
	{% for product in products %}
		<div class="{{ product_box_class|default(wide_product_box ? 'col-lg-3 col-md-4 col-xs-6 item-product' : 'col-md-4 col-xs-6 item-product') }}">
			{% if product.two_for_one %}
				<span class="product-label two-for-one">2 for 1</span>
			{% endif %}
			{% if product.new %}
				<span class="product-label new">New</span>
			{% endif %}
			<a href="{{ product.url }}" class="shopwired-image-container" data-fit="{{ global.theme.settings.image_container_product ? '1' : '0' }}">
				<img src="{{ product.photo_url }}" alt="{{ product.photo_description }}" />
			</a>
			<div class="product-title">
				<div class="text-center">
					<a href="{{ product.url }}" >
						<h4 class="headline-ellipsis">{{ product.title }}</h4>
					</a>
				</div>
				<div class="text-center">
					{% if product.price_in_points > 0 %}
						<span class="product-price">
							{{ product.price_in_points }}
							points
						</span>
					{% else %}
						{% if product.sale_price > 0 %}
							<span class="product-sale-price-value">
								{{ currency_value(product.sale_price) }}
							</span>
							<span class="product-price-value">
								{{ currency_value(product.price) }}
							</span>
						{% else %}
							<span class="product-price-value">
								{{ currency_value(product.price) }}
							</span>
						{% endif %}
					{% endif %}
				</div>
				<div class="text-center">
					<a href="{{ product.url }}" class="btn button-ad-to-basket look-in full-sm">BUY ME</a>
				</div>
			</div>
		</div>
	{% else %}
		<div class="col-sm-12 text-left">
			No products found.
		</div>
	{% endfor %}
</div>
