{% extends 'templates/page.twig' %}

{% set title = 'Order #' ~ order.reference %}
{% set wide = true %}

{% block extra_breadcrumbs %}

	<li>
		<a href="/account">Account Home</a>
	</li>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{% if order.tracking_url %}
				<p>
					Delivery of this order can be tracked at
					<a href="{{ order.tracking_url }}" class="text-theme">{{ order.tracking_url }}</a>
				</p>
			{% endif %}
			<p>Order Reference <b>#{{ order.reference }}</b></p>
			<p>Order Date <b>{{ order.date|date('d/m/Y') }}</b></p>
			<div class="row table-order">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 full-xxs">
					<h4>Delivery Details</h4>
					<ul class="list-unstyled">
						<li>
							<div>{{ order.shipping_name }}</div>
							{% if order.shipping_company %}
								<div>
									{{ order.shipping_company }}
								</div>
							{% endif %}
							<div>{{ order.shipping_address|nl2br }}</div>
							<div>{{ order.shipping_phone }}</div>
							<div>{{ order.shipping_email }}</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-xs-6 full-xxs">
					<h4>Billing Details</h4>
					<ul class="list-unstyled">
						<li>
							<div>{{ order.billing_name }}</div>
							{% if order.billing_company %}
								<div>
									{{ order.billing_company }}
								</div>
							{% endif %}
							<div>{{ order.billing_address|nl2br }}</div>
							<div>{{ order.billing_phone }}</div>
							<div>{{ order.billing_email }}</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
					<table class="table table-order-info">
						<thead>
							<tr>
								<th><h4>Order Totals</h4></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Product Total</td>
								<td class="text-bold">
									&pound;{{ order.sub_total|number_format(2) }}
								</td>
							</tr>
							<tr>
								<td>Shipping Total</td>
								<td class="text-bold">
									&pound;{{ order.shipping_total|number_format(2) }}
								</td>
							</tr>
							{% for discount in order.discounts %}
								<tr>
									<td>Discount Name</td>
									<td class="text-bold">{{ discount.name }}</td>
								</tr>
								<tr>
									<td>Discount Amount</td>
									<td class="text-bold">&pound;{{ discount.price }}</td>
								</tr>
							{% endfor %}
							<tr>
								<td>Discount Total</td>
								<td class="text-bold">&pound;{{ order.discount_total|number_format(2) }}</td>
							</tr>
							{% if order.reward_points_total %}
								<tr>
									<td>Points Spent</td>
									<td class="text-bold">{{ order.reward_points_total }} pts</td>
								</tr>
							{% endif %}
							<tr class="empty">
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Grand Total</td>
								<td class="text-bold">&pound;{{ order.total|number_format(2) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="table-responsive account-home-table">
				<table class="table table-condensed border-box">
					<thead>
						<tr>
							<th>SKU</th>
							<th>PRODUCT</th>
							<th>OPTIONS</th>
							<th>PRICE</th>
							<th>QUANTITY</th>
						</tr>
					</thead>
					<tbody>
						{% for product in order.products %}
							<tr>
								<td>{{ product.sku }}</td>
								<td>{{ product.name }}</td>
								<td>
									{% for option in product.options %}
										<div>
											{{ option.name }}: {{ option.value }}
										</div>
									{% endfor %}
									{% for alt_option in product.alt_options %}
										<div>
											{{ alt_option.name }}: {{ alt_option.value }}
										</div>
									{% endfor %}
									{% for extra in product.extras %}
										<div>
											{{ extra.name }}: &pound;{{ extra.value|number_format(2) }}
										</div>
									{% endfor %}
								</td>
								<td>
									{% if product.reward_points_enabled %}
										{{ product.price }}
										points
									{% else %}
										&pound;{{ product.price|number_format(2) }}
									{% endif %}
								</td>
								<td>
									{{ product.quantity }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
