{% extends 'templates/page.twig' %}

{% set title = 'Edit Your Account' %}
{% set wide = true %}

{% block extra_breadcrumbs %}

	<li>
		<a href="/account">Account Home</a>
	</li>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<div class="create-account">
		{% include 'partials/account_form.twig' %}
	</div>

{% endblock %}
