{% extends 'templates/page.twig' %}

{% set title = customer.trade ? 'Apply For A Trade Account' : 'Create Your Account' %}
{% set wide = true %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<div class="create-account">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="headline-xs margin-b-md">
					{{ shopwired.snippet(customer.trade ? 'text_trade' : 'text_customers') }}
				</h3>
			</div>
		</div>
		{% include 'partials/account_form.twig' %}
	</div>

{% endblock %}
