{% extends 'templates/page.twig' %}

{% set title = 'Login To Your Account' %}
{% set breadcrumb_title = 'Login' %}
{% set wide = true %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<form class="form-with-validation account-form" action="{{ global.current_url }}" method="post">
		<div class="row">
			<div class="col-lg-6 col-md-5 col-xs-12 padding-md-r">
				<p><b>Don't have an account with us yet? <a href="/account/create">Click here to create one</a>.</b></p>
				<br>
				{{ shopwired.form_errors(errors) }}
				<div class="form-group">
					<label class="control-label">Email Address:</label>
					<div>
						{{ html.input('email', form_field_value('email'), 'form-control required') }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">
						Password:
						<a href="/account/forgotten-password" class="password-forgotten">forgot?</a>
					</label>
					<div>
						{{ html.input('password', '', 'form-control required', 'password') }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="form-group margin-t-xs">
					{{ shopwired.honeypot() }}
					<button type="submit" class="btn button-theme full-md">Login now</button>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
