{% extends 'templates/page.twig' %}

{% set title = 'Your Account' %}
{% set wide = true %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				Your current orders are shown below.
				{% if global.features.reward_points %}
					You have
					<strong>{{ global.customer.reward_points }}</strong>
					reward points.
				{% endif %}
			</p>
			<p>
				To edit your your account details please <a href="/account/edit">click here</a>.
			</p>
			<div class="table-responsive account-home-table">
				<table class="table table-condensed border-box">
					<thead>
						<tr>
							<th>ORDER ID</th>
							<th>ORDER DATE</th>
							<th>DELIVERY ADDRESS</th>
							<th>TOTAL</th>
							<th>STATUS</th>
							<th>VIEW</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<td>{{ order.reference }}</td>
								<td>{{ order.date|date('d/m/Y') }}</td>
								<td>{{ order.shipping_address }}</td>
								<td>{{ currency_value(order.total) }}</td>
								<td>{{ order.status }}</td>
								<td><a href="{{ order.url }}" class="text-theme">VIEW</a></td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">You have not placed any orders yet.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
