{% extends 'templates/page.twig' %}

{% set title = 'Forgotten Your Password?' %}
{% set breadcrumb_title = 'Forgotten Password' %}
{% set wide = true %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<form class="form-with-validation account-form" action="{{ global.current_url }}" method="post">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-xs-12 padding-md-r">
				{{ shopwired.form_errors(errors) }}
				<div class="form-group">
					<label class="control-label">Email Address:</label>
					<div>
						{{ html.input('email', form_field_value('email'), 'form-control required') }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="form-group margin-t-xs">
					{{ shopwired.honeypot() }}
					<button type="submit" class="btn button-theme full-md">Request A New Password</button>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
