{% extends 'templates/blog_page.twig' %}

{% block posts %}

	{% include 'partials/blog_posts.twig' with { 'preview': true } %}

	{% if total_pages > 1 %}
		<nav class="pagination-container">
			<ul class="pagination">
				<li>
					<a href="{{ blog_page_url(current_page > 1 ? current_page - 1 : 1) }}" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
				</li>
				{% for page in 1..total_pages %}
					<li>
						<a href="{{ blog_page_url(page) }}" class="{{ current_page == page ? 'current' : '' }}">{{ page }}</a>
					</li>
				{% endfor %}
				<li>
					<a href="{{ blog_page_url(current_page < total_pages ? current_page + 1 : total_pages) }}" aria-label="Next"><span aria-hidden="true">Next</span></a>
				</li>
			</ul>
		</nav>
	{% endif %}

{% endblock %}
