{% extends 'templates/blog_page.twig' %}

{% block posts %}

	{% include 'partials/blog_posts.twig' with { 'posts': [ post ] } %}

	{% if global.theme.settings.disqus_id %}
		<br />
		<div id="disqus_thread"></div>
		<script>
			var disqus_shortname = '{{ global.theme.settings.disqus_id }}';
			(function() {
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>
			Please enable JavaScript to view the
			<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
	{% endif %}

{% endblock %}
