{% extends 'templates/collection.twig' %}

{% set title = brand.title %}
{% set description = brand.description %}
{% set show_filters = products|length > 0 %}

{% block sidebar %}

	{% include 'partials/brand_menu.twig' %}

{% endblock %}

{% block items %}

	{% include 'partials/products.twig' %}

{% endblock %}
