{% extends 'templates/collection.twig' %}

{% set title = 'Our Brands' %}
{% set is_parent_category = true %}

{% block sidebar %}

	{% include 'partials/brand_menu.twig' %}

{% endblock %}

{% block items %}

	{% include 'partials/categories.twig' with { 'categories': brands } %}

{% endblock %}
