{% extends 'templates/collection.twig' %}

{% set title = 'Our Categories' %}
{% set is_parent_category = true %}

{% block sidebar %}

	{% include 'partials/category_menu.twig' %}

{% endblock %}

{% block items %}

	{% include 'partials/categories.twig' %}

{% endblock %}
