{% extends 'templates/collection.twig' %}

{% set title = category.title %}
{% set description = category.description %}
{% set show_filters = products|length > 0 %}

{% block sidebar %}

	{% include 'partials/category_menu.twig' %}

{% endblock %}

{% block items %}

	{% include 'partials/products.twig' %}

{% endblock %}
