{% extends 'templates/page.twig' %}

{% set title = 'Your Order Has Been Received' %}
{% set breadcrumb_title = 'Order Confirmation' %}

{% block content %}

	<h2 class="headline-lg">
		{{ title }}
	</h2>
	{% if order %}
		{% if confirmation_text %}
			{{ confirmation_text|raw }}
		{% else %}
			<p>
				Your order has been successfully received. You have been sent an email confirmation of your order. If you have any questions about your order please
				<a href="/contact-us">contact us</a>.
			</p>
		{% endif %}
		<p>
			<span class="order-label">Your Name:</span>
			<strong>{{ order.shipping_name }}</strong>
		</p>
		<p>
			<span class="order-label">Order Amount:</span>
			<strong>&pound;{{ order.total|number_format(2) }}</strong>
		</p>
		{% if order.reference %}
			<p>
				<span class="order-label">Order ID:</span>
				<strong>#{{ order.reference }}</strong>
			</p>
		{% endif %}
	{% endif %}

{% endblock %}
