{% extends 'templates/page.twig' %}

{% set title = 'Your Shopping Basket' %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				{{ title }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form action="{{ global.current_url }}" method="post" class="form-with-validation">
				{{ shopwired.form_errors(errors) }}
				{% for item in basket.items %}
					<div class="basket-container">
						<div class="row">
							<div class="col-lg-7 col-sm-9">
								<div class="row">
									<div class="col-sm-6 basket-product-img">
										{% if item.is_gift_voucher %}
											<div class="shopwired-image-container">
												<img src="{{ item.product.photo_url }}" alt="{{ item.product.photo_description }}">
											</div>
										{% else %}
											<a href="{{ item.product.url }}" class="shopwired-image-container">
												<img src="{{ item.product.photo_url }}" alt="{{ item.product.photo_description }}">
											</a>
										{% endif %}
									</div>
									<div class="col-sm-6 basket-product-info">
										<h4 class="headline-xs">
											{% if item.is_gift_voucher %}
												{{ item.product.title|raw }}
											{% else %}
												{{ item.product.title }}
											{% endif %}
										</h4>
										{% if item.options %}
											<div class="row">
												{% for name, value in item.options %}
													<div class="col-sm-12">
														<span class="selected-name">{{ name }}:</span>
														<span class="selected-option">{{ value }}</span>
													</div>
												{% endfor %}
											</div>
										{% endif %}
										{% if item.alt_options %}
											<div class="row">
												{% for name, value in item.alt_options %}
													<div class="col-sm-12">
														<span class="selected-name">{{ name }}:</span>
														<span class="selected-option">{{ value }}</span>
													</div>
												{% endfor %}
											</div>
										{% endif %}
										{% if item.extras %}
											<div class="row extra-selected">
												<div class="col-sm-12">
													{% for extra in item.extras %}
														<p>
															<span>{{ extra.name }}:</span>
															<span>{{ currency_value(extra.price) }}</span>
														</p>
													{% endfor %}
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-sm-3 basket-product-update">
								<div class="inline product-price">
									<span>
										{% if item.product.reward_points_enabled %}
											{{ item.price }}
											points
										{% else %}
											{{ currency_value(item.price) }}
										{% endif %}
									</span>
								</div>
								<div class="inline qty">
									<div class="qty-box">
										<span>QTY: </span>
										{{ html.input('quantity[' ~ item.id ~ ']', item.quantity, 'qty-number') }}
									</div>
									<button type="submit">update</button>
								</div>
								<div class="inline product-price hide-under-lg">
									<span>
										{% if item.product.reward_points_enabled %}
											{{ item.total }}
											points
										{% else %}
											{{ currency_value(item.total) }}
										{% endif %}
									</span>
								</div>
								<div class="inline remove-product">
									<a class="basket-remove-button" href="{{ item.remove_url }}">
										<span class="icon-delete"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="basket-container">
						<div class="row">
							<div class="col-lg-12">
								{{ shopwired.snippet('text_empty_basket') }}
							</div>
						</div>
					</div>
					<br>
				{% endfor %}
			</form>
		</div>
	</div>
	<div class="row basket-boxes">
		{% if global.theme.settings.product_voucher_code %}
			<div class="col-lg-4">
				<div class="basket-box">
					<h4>Voucher codes &amp; promotions</h4>
					<form action="{{ global.current_url }}" method="post">
						<div class="input-group input-button margin-b-sm">
							{{ html.input('voucher_code', form_field_value('voucher_code'), 'form-control', 'text', 'placeholder="Enter your voucher code here"') }}
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Apply</button>
							</span>
						</div>
					</form>
					{% if basket.has_redeemed_points %}
						<p>
							Your points have been redeemed for a discount of
							<span class="text-bold">{{ currency_value(basket.reward_points_discount) }}</span>.
						</p>
					{% elseif basket.reward_points > 0 %}
						<p>You have <span>{{ basket.reward_points }} reward points</span> in your account.</p>
						{% if basket.can_redeem_points %}
							<a href="/checkout/basket/convert-reward-points" class="btn button-redeem-points full-lg">Redeem your points</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% else %}
			<div class="col-lg-4">
				&nbsp;
			</div>
		{% endif %}
		<div class="col-lg-4">
			{% if basket.shipping_countries %}
				<div class="basket-box basket-delivery-form">
					<h4>Delivery selections</h4>
					<p>Please select your delivery country and rate</p>
					<div class="row form-group">
						<div class="col-sm-12">
							{{ html.select('countryId', basket.shipping_countries, global.basket.country_id, 'form-control custom-select country', 'Select...') }}
						</div>
					</div>
					<div class="row rates-container">
						<div class="col-sm-12 rates">
							<select name="rateId" class="form-control custom-select rate">
								{% for rate in basket.shipping_rates %}
									<option value="{{ rate.id }}" {{ rate.id == global.basket.shipping_rate_id ? 'selected="selected"' : '' }}>
										{{ rate.name }} {{ currency_value(rate.price) }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			{% else %}
				&nbsp;
			{% endif %}
		</div>
		<form action="/checkout/{{ global.theme.settings.force_login_at_checkout ? 'login' : 'address' }}" method="post">
			<div class="col-lg-4">
				<div class="basket-box summary">
					<h4>Checkout totals</h4>
					<div class="row">
						<div class="col-xs-8">
							{% if basket.reward_points_earned > 0 %}
								<p>Reward Points Earned</p>
							{% endif %}
							<p>Sub Total</p>
							<p>Discounts</p>
							<p>Delivery</p>
						</div>
						<div class="col-xs-4 text-right">
							{% if basket.reward_points_earned > 0 %}
								<p>
									{{ basket.reward_points_earned }}
									pts
								</p>
							{% endif %}
							<p id="sub-total">
								{{ currency_value(basket.sub_total) }}
							</p>
							<p id="discount">
								{{ currency_value(basket.discount) }}
							</p>
							<p id="shipping">
								{{ currency_value(basket.shipping) }}
							</p>
						</div>
					</div>
					<div class="row summary-total">
						<div class="col-xs-8">
							<p class="text-bold">Grand Total</p>
						</div>
						<div class="col-xs-4 text-right">
							<p id="total" class="text-bold">
								{{ currency_value(basket.total) }}
							</p>
						</div>
					</div>
				</div>
				<div class="basket-buttons">
					<button class="btn button-proceed-to-checkout full-width">
						{{ global.theme.settings.button_checkout }}
					</button>
					{% if basket.payment_methods|length %}
					
						{% for payment_method in basket.payment_methods %}
							{% if payment_method.id == 33 or payment_method.id == 34 or payment_method.id == 13 %}
								<button type="submit" name="{{ payment_method.field_name }}" value="1" class="paypal-button image-button" style="margin-top: 10px; background: none; float: right; border: 0px; padding: 0px;">
									<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-60px.png" alt="Check out with PayPal" width="170">
								</button>
							{% else %}
								<button type="submit" name="{{ payment_method.field_name }}" value="1" class="btn button-proceed-to-checkout full-width">
									{{ payment_method.title }}
								</button>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>   
			</div>
		</form>
	</div>

{% endblock %}
