{% extends 'templates/page.twig' %}

{% set breadcrumb_title = 'Login' %}
{% set wide = true %}
{% set hide_title = true %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				Login to your account
			</h2>
		</div>
	</div>
	{{ shopwired.form_errors(errors) }}
	<div class="checkout-login-form">
		<div class="row">
			<form class="form-with-validation account-form" action="{{ global.current_url }}" method="post">
				<div class="col-lg-4 col-md-6 col-xs-12 padding-sm-r">
					<h2 class="headline-xs">Login to your account</h2>
					<div class="form-group">
						<label class="control-label">Email Address:</label>
						<div>
							{{ html.input('email', form_field_value('email'), 'form-control required') }}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">
							Password:
							<a href="/account/forgotten-password" class="password-forgotten">forgot?</a>
						</label>
						<div>
							{{ html.input('password', '', 'form-control required', 'password') }}
						</div>
					</div>
					<div class="form-group margin-md-t">
						{{ shopwired.honeypot() }}
						<button type="submit" class="btn button-theme full-md">Login now</button>
					</div>
				</div>
			</form>
			<form class="form-with-validation" action="/account/create" method="post">
				<div class="col-lg-4 col-sm-6 col-xs-12 padding-sm-l padding-lg-r">
					<h2 class="headline-xs margin-sm-t">Create a new account</h2>
					<div class="form-group">
						<label class="control-label">Email Address:</label>
						<div>
							{{ html.input('email', form_field_value('email'), 'form-control required') }}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Password:</label>
						<div>
							{{ html.input('password', '', 'form-control required', 'password') }}
						</div>
					</div>
					<div class="form-group margin-md-t">
						{{ shopwired.honeypot() }}
						<button type="submit" class="btn button-theme full-sm">Create an account</button>
					</div>
				</div>
			</form>
			{% if global.theme.settings.allow_guest_checkout %}

				<div class="col-lg-4 col-sm-12 col-xs-12 guest-checkout">
					<h2 class="headline-xs">Guest checkout</h2>
					<div class="form-group">
						<p>If you’d like to checkout as a guest then click the button below</p>
					</div>
					<div class="form-group margin-md-t">
						<a href="/checkout/address" class="btn button-theme full-sm">Guest checkout</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
