{% extends 'templates/page.twig' %}

{% set title = 'Your Information' %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h1 class="headline-lg"><span>{{ title }}</span></h1>
		</div>
	</div>
	{% if checkout.processing_form %}
		<div class="row">
			<div class="col-sm-12">
				<p>
					<img src="//static.kodajo.com/images/ajax_load.gif" alt="Loading">
					&nbsp;
					Please wait, processing...
				</p>
			</div>
		</div>
		{{ checkout.processing_form|raw }}
	{% else %}
		<form action="{{ global.current_url }}" method="post" class="form-with-validation checkout-form">
			{{ shopwired.form_errors(errors) }}
			<div class="row">
				<h4>Your delivery address</h4>
				{% for name, field in checkout.shipping_fields %}
					{% if loop.index0 % 2 == 0 %}
						{{ '<div class="col-md-5 col-sm-12 padding-lg-r">' }}
					{% else %}
						{{ '<div class="col-md-5 col-sm-12 padding-lg-l">' }}
					{% endif %}
					<div class="form-group">
						<label class="control-label">
							{{ field.label }}: {% if field.label|lower == 'telephone no' %}(optional, for text alert from courier){% endif %}
							
						</label>
						<div>
							{% if name == 'shipping_email' %}
								{{ html.input(name, field.value, 'form-control ' ~ (field.required ? 'required ' : '') ~ field.size_hint, 'email', 'id="' ~ (field.id ? field.id : name) ~ '" data-rule-emailtld="true" ') }}
							{% else %}
								{% if field.values %}
									{{ html.select(name, field.values, field.value, field.required ? 'form-control custom-select medium required' : '', 'Select...', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
								{% elseif(field.is_text) %}
									{{ html.input(name, field.value, '', 'hidden', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
									{{ html.input('', field.value, 'form-control', 'text', 'readonly="readonly"') }}
								{% else %}
									{{ html.input(name, field.value, 'form-control ' ~ (field.required ? 'required ' : '') ~ field.size_hint, 'text', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
								{% endif %}
							{% endif %}
						</div>
					</div>
					{{ '</div>' }}
				{% endfor %}
				{% if customer_sources|length %}
					<div class="col-md-5 col-sm-12 padding-lg-r">
						<div class="form-group">
							<label class="control-label">
								How did you hear about us?
							</label>
							<div>
								{{ html.select('source', customer_sources, form_field_value('source'), 'form-control custom-select', 'Select...') }}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-10 col-sm-12">
					<div class="border-tb">
						<span class="custom-checkbox">
							<span class="icon-toggle icon-checkbox"></span>
							<input type="checkbox" class="billing-address checkout-same-address" checked="checked">
							The billing address the same as the delivery address.
						</span>
					</div>
				</div>
			</div>
			<div class="row billing-form margin-b-md destination-container">
				<h4>Your billing address</h4>
				{% for name, field in checkout.billing_fields %}
					{% if loop.index0 % 2 == 0 %}
						{{ '<div class="col-md-5 col-sm-12 padding-lg-r">' }}
					{% else %}
						{{ '<div class="col-md-5 col-sm-12 padding-lg-l">' }}
					{% endif %}
					<div class="form-group">
						<label class="control-label">
							{{ field.label }}:
						</label>
						<div>
							{% if field.values %}
								{{ html.select(name, field.values, field.value, field.required ? 'form-control custom-select medium required' : '', 'Select...', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
							{% elseif(field.is_text) %}
								{{ html.input(name, field.value, '', 'hidden', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
								{{ html.input('', field.value, 'form-control', 'text', 'readonly="readonly"') }}
							{% else %}
								{{ html.input(name, field.value, 'form-control ' ~ (field.required ? 'required ' : '') ~ field.size_hint, 'text', 'id="' ~ (field.id ? field.id : name) ~ '"') }}
							{% endif %}
						</div>
					</div>
					{{ '</div>' }}
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-md-10 col-sm-12">
					<div class="border-tb">
						<span class="custom-checkbox">
							<span class="icon-toggle icon-checkbox"></span>
							<input type="checkbox" name="marketing" value="1" {{ form_field_value('marketing', global.customer.accepts_marketing) ? 'checked="checked"' : '' }} />
							Do you want to receive our newsletters?
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-sm-12">
					<div class="border-tb">
						<span class="custom-checkbox">
							<span class="icon-toggle icon-checkbox"></span>
							{{ html.input('terms', '1', 'required', 'checkbox', form_field_value('terms') == 1 ? 'checked="checked"' : '') }}
							I have read and accept the
							<a href="/terms-conditions" target="_blank">terms & conditions</a>
						</span>
					</div>
				</div>
			</div>
			<div class="row payments-buttons">
				<div class="col-md-10 col-sm-12">
					<div class="buttons">                        
						{% set special_buttons = {
							"34": {"label": global.theme.settings.button_paypal_34|default("Proceed to PayPal"), "class": "btn button-secure-payment full-sm main-button"},
							"1": {"label": global.theme.settings.button_paypal|default(""), "class": "paypal-button image-button"},
							"5": {"label": global.theme.settings.button_offline_payment|default("Make Payment Offline"), "class": "button-pay-offline full-sm offline-button", "separate": true }
						} %}
						{% for id, button in checkout.buttons %}
							{% if not special_buttons[id] %}
								<button name="{{ button.name }}" class="btn button-secure-payment full-sm main-button">
									{{ global.theme.settings.button_payment_gateway|default("Proceed To Secure Payment") }}
								</button>
							{% endif %}
						{% endfor %}
						{% for id, button in special_buttons %}
							{% if checkout.buttons[id] %}
								{% if button.separate %}<br>{% endif %}
									{% if checkout.buttons[id].id == '1' or checkout.buttons[id].id == '34' %}
									<button name="{{ checkout.buttons[id].name }}" class="btn {{ button.class }}" style="padding: 0px; border: 0px; background: none;">
										<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-60px.png" alt="Check out with PayPal" width="170">
									</button>
									{% else %}
									<button name="{{ checkout.buttons[id].name }}" class="btn {{ button.class }}">
										{{ button.label }}
									</button>
									{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row margin-t-md payments-icons">
				<div class="col-md-10 col-sm-12">
					<a href="javascript:"><img src="{{ asset_url('images/visa.png') }}" alt=""></a>
					<a href="javascript:"><img src="{{ asset_url('images/visa-electron.png') }}" alt=""></a>
					<a href="javascript:"><img src="{{ asset_url('images/mastercard.png') }}" alt=""></a>
					<a href="javascript:"><img src="{{ asset_url('images/maestro.png') }}" alt=""></a>
					<a href="javascript:"><img src="{{ asset_url('images/cirrus.png') }}" alt=""></a>
				</div>
			</div>
		</form>
	{% endif %}

{% endblock %}
