{% extends 'templates/page.twig' %}

{% set title = gallery.name %}
{% set wide = true %}

{% block extra_breadcrumbs %}

	<li>
		<a href="/galleries">
			Galleries
		</a>
	</li>

{% endblock %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h1 class="headline-lg"><span>{{ title }}</span></h1>
		</div>
	</div>
	<div class="row items-galleries">
		{% for photo in gallery.photos %}
			<div class="col-xs-6 col-md-4 col-lg-3 item-gallery">
				<div class="box-shadow-container box-shadow">
					<div class="border-container">
						<a href="{{ photo.url }}" class="shopwired-image-container gallery-photo" rel="prettyPhoto[gallery]">
							<img src="{{ photo.url }}" alt="{{ photo.name }}" />
						</a>
					</div>
				</div>
				<div class="gallery-title">
					{% if photo.name %}
						<h3>
							{{ photo.name }}
						</h3>
					{% endif %}
				</div>
			</div>
		{% else %}
			<p class="col-sm-12 text-left">
				No photos found.
			</p>
		{% endfor %}
	</div>

{% endblock %}
