{% extends 'templates/page.twig' %}

{% set title = 'Our Galleries' %}
{% set wide = true %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h1 class="headline-lg"><span>{{ title }}</span></h1>
		</div>
	</div>
	<div class="row items-galleries">
		{% for gallery in galleries %}
			<div class="col-xs-6 item-gallery">
				<div class="box-shadow-container box-shadow">
					<div class="border-container">
						<a href="{{ gallery.url }}" class="shopwired-image-container">
							<img src="{{ gallery.photo_url }}" alt="{{ gallery.name }}" />
						</a>
					</div>
				</div>
				<div class="gallery-title">
					<h3>
						{{ gallery.name }}
					</h3>
				</div>
			</div>
		{% else %}
			<p class="col-sm-12 text-left">
				No galleries found.
			</p>
		{% endfor %}
	</div>

{% endblock %}
