{% extends 'templates/page.twig' %}

{% set title = 'Buy A Gift Card' %}

{% block content %}

	<h2 class="headline-lg">
		{{ title }}
	</h2>
	<p>
		{{ shopwired.snippet('text_gift_voucher') }}
	</p>
	<form action="{{ global.current_url }}" method="post" class="form-with-validation">
		{{ shopwired.form_errors(errors) }}
		<div class="gift-card-form">
			<div class="row margin-t-md">
				<div class="col-md-6 padding-md-r">
					<div class="form-group">
						<label class="control-label">Gift amount (&pound;)</label>
						{% if values %}
							{{ html.select('amount', values, '', 'custom-select form-control required', 'Select...') }}
						{% elseif value %}
							{{ html.input('', value, 'form-control', 'text', 'readonly="readonly"') }}
							{{ html.input('amount', value, '', 'hidden') }}
						{% else %}
							{{ html.input('amount', '', 'form-control required') }}
						{% endif %}
					</div>
					<div class="form-group">
						<label class="control-label">Your Name</label>
						{{ html.input('extra_data[customers_name]', '', 'form-control required') }}
					</div>
					<div class="form-group">
						<label class="control-label">Your message</label>
						{{ html.textarea('extra_data[message]', '', 'form-control required', 5) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Card style</label>
						{% for style in styles %}
							<span class="custom-checkbox">
								<span class="icon-toggle icon-checkbox"></span>
								{{ html.input('type', style.id, '', 'radio', loop.first ? 'checked="checked"' : '') }}
								{{ style.name }}
							</span>
						{% endfor %}
					</div>
					<div class="form-group  padding-md-r">
						<label class="control-label">Recipient's name</label>
						{{ html.input('extra_data[recipients_name]', '', 'form-control required') }}
					</div>
				</div>
			</div>
			{{ shopwired.honeypot() }}
			<button type="submit" class="btn button-theme full-md">{{ shopwired.snippet('button_gift_card') }}</button>
		</div>
	</form>

{% endblock %}
