{% extends 'templates/master.twig' %}

{% block page_content %}

	{% set featured_products = featured_products(16) %}
	{% set featured_categories = featured_categories(4) %}
	
	<div class="container content-container home-page">
		{% if featured_categories|length %}
			
			{% for category in featured_categories %}
				<div class="row items-categories featured-categories">
					<div class="col-xs-12">
						<div class="category-title">
							<h1 class="text-center">{{ category.title }}</h1>
						</div>
						<div class="category-description text-center">
							{{ category.description | raw }}
						</div>						
					</div>
				</div>
				<div class="row items-categories featured-categories">
						{% include 'partials/products.twig' with { 'products': category.products, 'container_class': 'items items-products', 'product_box_class': 'item col-lg-4 col-md-4 col-sm-12' } %}
				</div>
			{% endfor %}
			
		{% endif %}
	
	</div>

{% endblock %}
