{% extends 'templates/page.twig' %}

{% set title = 'Your Newsletter Subscription' %}
{% set breadcrumb_title = 'Newsletter Subscription' %}

{% block content %}

	<h2 class="headline-lg">
		{{ title }}
	</h2>
	<p>
		{{ shopwired.snippet('text_newsletter') }}
	</p>

{% endblock %}
