{% extends 'templates/collection.twig' %}

{% set title = category.title %}
{% set description = category.description %}
{% set is_parent_category = true %}

{% block sidebar %}

	{% include 'partials/category_menu.twig' %}

{% endblock %}

{% block items %}

	{% include 'partials/categories.twig' with { 'categories': category.categories } %}

{% endblock %}
