{% extends 'templates/page.twig' %}

{% set title = product.title|default('Product Not Found') %}

{% block main_content %}

	{% if product %}
		{{ shopwired.form_errors(errors) }}
		{{ shopwired.form_errors(review_errors) }}
		{% set settings = { 'in-stock': product.in_stock, 'can-be-added': product.can_be_added, 'has-reward-points': product.reward_points > 0, 'has-sale-price': product.sale_price > 0 } %}
		<div id="product-container" class="row product {% for key, value in settings %}{{ value ? (key ~ ' ') : '' }}{% endfor %}">
			<div class="row">
				<div class="col-lg-6 product-left">
				<div class="main-image">
					<div class="shopwired-image-container main-photo product-gallery-main-photo" data-fit="0" data-zoom="{{ global.theme.settings.product_zoom }}">
						<img src="{{ product.photo_url }}" alt="{{ product.photo_description }}" class="product-gallery-photo" data-lightbox="{{ global.theme.settings.product_lightbox }}">
					</div>
				</div>
				<div class="video-container"></div>
				<div class="product-thumb-slider product-gallery">
					{% for photo in product.photos %}
						<div>
							<a href="{{ photo.url }}" class="shopwired-image-container product-gallery-thumbnail p{{ loop.index0 }}" data-fit="{{ global.theme.settings.image_container_product_thumbnail ? '1' : '0' }}">
								<img src="{{ photo.url }}" alt="{{ photo.description }}">
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
				<div class="col-lg-6 product-right">
					<h2 class="headline-lg">
						{{ product.title }}
					</h2>
					<div class="product-info">
						<!--{% if product.sku %}
							<span class="code">
								Code:
								<span class="product-sku-value">{{ product.sku }}</span>
							</span>
						{% endif %}-->
						{% if product.brand %}
							<span class="brand">
								Brand:
								{{ product.brand.title }}
							</span>
						{% endif %}
						{% if product.rrp > 0 %}
							<span class="rrp-price">rrp: {{ currency_value(product.rrp) }}</span>
						{% endif %}
						{% if product.two_for_one %}
							<span class="two-for-one-label">2 for 1</span>
						{% endif %}
					</div>

						<hr>
						<form action="{{ product.url }}" method="post" class="form-with-validation product-form">
							{% if not alternative_variants_enabled and product.options %}
						
								{% for option in product.options %}								
									<div class="row form-group">
										<label class="control-label">{{ option.name }}:</label>
										<div class="">
											<input type="hidden" name="value[]" class="product-option required form-control">
											<ul class="product-option">
												{% for value in option.values %}
													<li value="{{ value.id }}" data-property-name="{{ value.name }}" data-property-value="{{ value.id }}"><span>{{ value.name }}</span></li>
												{% endfor %}										
											</ul>
											{% if option.name ends with 'Heart' %}
											<div class="more-variant-info" style="display: none;">
												<h4>With special functions</h4>
												<span class="prop" data-for="Bluetooth"><img src="{{ asset_url('images/icon-new-app.svg') }}" class="icon"> <label>App</label></span>
												<span class="prop" data-for="Sensor Bluetooth"><img src="{{ asset_url('images/icon-new-sleep.svg') }}" class="icon"> <label>Sleep Sensor</label></span>
												<span class="prop" data-for="Sensor Bluetooth"><img src="{{ asset_url('images/icon-new-12h.svg') }}" class="icon"> <label>Non-stop System</label></span>
												<span class="prop" data-for="Basic"><img src="{{ asset_url('images/icon-new-60.svg') }}" class="icon"> <label>Sound fades out after 60 minutes</label></span>
											</div>
											{% endif %}
										</div>
									</div>
									
								{% endfor %}
								
							{% endif %}
							{% if alternative_variants_enabled and product.alt_options %}
								{% for option in product.alt_options %}
									<div class="row form-group">
										<label class="col-lg-5 col-md-3 col-sm-12 control-label">{{ option.name }}:</label>
										<div class="col-lg-7 col-md-5 col-sm-12">
											<select name="alt2_attribute_id[]" class="product-option required form-control custom-select medium" data-alternative="1">
												<option value="">Select...</option>
												{% for value in option.values %}
													<option value="{{ value.id }}">{{ value.name }} +{{ currency_value(value.price) }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								{% endfor %}
								
							{% endif %}
							{% if product.extras %}
								<div class="product-extras">
									{% for extra in product.extras %}
										<span class="custom-checkbox">
											<span class="icon-toggle icon-checkbox"></span>
											<input type="checkbox" name="product_extras[]" value="{{ extra.id }}">
											{{ extra.name }}:
											{{ currency_value(extra.price) }}
										</span>
									{% endfor %}
								</div>
								
							{% endif %}
							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="price-value">
										<span class="product-sale-price-value">{{ (product.reward_points_enabled ? product.sale_price : currency_value(product.sale_price))|raw }}</span>
										<span class="product-price-value">{{ (product.reward_points_enabled ? product.price : currency_value(product.price))|raw }}</span>
										{% if product.reward_points_enabled > 0 %}
											pts
										{% endif %}
									</div>
									<div class="pull-right reward-points">
										<span>Earn</span>
										<span class="product-reward-points-value">{{ product.reward_points }}</span>
										<span>reward points</span>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12 product-add-buttons">
									<button class="btn large button-add-to-basket full-sm add-button {{ soft_add_button ? 'product-soft-add-button' : '' }}" name="cart_button">{{ global.theme.settings.button_add_to_basket }}</button>
									{% if global.theme.settings.product_quantity_box %}
										<div class="qty">
											
											<div class="qty-box btn">
												<input type="button" value="-" class="minus button is-form">
												<span>QTY:</span>
												<input type="number" name="quantity" value="1">
												<input type="button" value="+" class="plus button is-form">
											</div>
										</div>
									{% else %}
										<input type="hidden" name="quantity" value="1">
									{% endif %}
									<button disabled="disabled" class="btn large full-sm button-out-of-stock disabled out-of-stock-button">{{ global.theme.settings.button_out_of_stock }}</button>
									{% if product.in_wishlist %}
										<div><a class="btn large button-add-to-wishlist full-sm btn-white" href="/wishlist?action=remove&amp;product_id={{ product.id }}">{{ global.theme.settings.button_remove_from_wishlist }}</a></div>
									{% else %}
										<div><a class="btn large button-add-to-wishlist full-sm btn-white" href="/wishlist?action=add&amp;product_id={{ product.id }}">{{ global.theme.settings.button_add_to_wishlist }}</a></div>
									{% endif %}
									
									
								</div>
							</div>
							<div class="stock-requests-container">
							<hr/>
									<p>
										<b>Want to be notified when this product is back in stock?</b> 
										Complete the form below and we'll send you an email when it is.
									</p>
									<div class="inputs">
										<input type="text" name="stock_request_name" placeholder="Your Name" class="form-control">
										<input type="text" name="stock_request_email" placeholder="Your Email Address" class="form-control">
										<button name="stock_request" value="1" type="submit">Send Your Request</button>
									</div>
								</div>								
				</div>
			</div>				
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				{% if reviews_enabled %}
					<div class="show-hide-reviews">
						<span class="ratings">
							{% for i in 1..5 %}
								<span class="icon-review-heart {{ i > product.rating ? 'rate' : '' }}"></span>
							{% endfor %}
						</span>
						<a href="#" class="view-reviews">Show reviews</a>
						<a href="#" class="hide-reviews">Hide reviews</a>
					</div>
				{% endif %}
				<div class="description {{ reviews_enabled ? 'reviews-hidden' : '' }}">
					{% if product.description %}
						<h3>Description</h3>
						{{ product.description|raw }}
						{% include 'partials/myhummy-info-props.twig' %}
					{% endif %}
					{% if product.video_embed_code %}
						<a href="{{ product.video_embed_code }}" class="product-video product-video-button">View Product Video</a>
					{% endif %}
								
								{% if global.theme.settings.show_product_social_buttons %}
									<div class="shopwired-share-buttons">
										<hr />
										{% include 'shopwired/share_buttons.twig' ignore missing with { 'product': product } only %}
									</div>
								{% endif %}
					</form>
				</div>
				{% if reviews_enabled %}
					<div class="reviews-visible">
						<div class="row">
							<div class="col-sm-12">
								{% for review in product.reviews %}
									<div class="customer-review">
										<span class="customer-name">{{ review.name }}</span>
										<span class="ratings">
											{% for i in 1..5 %}
												<span class="icon-review-heart {{ i > review.rating ? 'rate' : '' }}"></span>
											{% endfor %}
										</span>
										<p>{{ review.content }}</p>
									</div>
								{% endfor %}
							</div>
						</div>
						<hr>
						<div class="row leave-review">
							<div class="col-sm-12">
								<h3>Review this product</h3>
								<form action="{{ global.current_url }}" method="post" class="form-with-validation">
									<div class="row form-group">
										<div class="col-lg-3 col-md-2 col-sm-12">
											<label>Your Name:</label>
										</div>
										<div class="col-lg-9 col-md-5 col-sm-12">
											{{ html.input('customer_name', form_field_value('customer_name', new_review.name), 'form-control required') }}
										</div>
									</div>
									<div class="row form-group">
										<div class="col-lg-3 col-md-2 col-sm-12">
											<label>Your Review:</label>
										</div>
										<div class="col-lg-9 col-md-5 col-sm-12">
											{{ html.textarea('review', form_field_value('review', new_review.content), 'form-control required', 5) }}
										</div>
									</div>
									<div class="row form-group">
										<div class="col-lg-3 col-md-2 col-sm-12">
											<label>Out Of 5:</label>
										</div>
										<div class="col-lg-9 col-md-5 col-sm-12">
											{{ html.select('rating', [1,2,3,4,5], new_review.rating, 'form-control custom-select required', 'Select...') }}
										</div>
									</div>
									<div class="row">
										<div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
											{{ shopwired.honeypot() }}
											<button class="btn button-theme small">
												Submit review
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				{% endif %}				
				</div>
			</div>
			
		</div>
		{% if product.related_products|length %}
			<div class="row">
				<div class="col-sm-12">
					<div class="products-slider-container">
						<h2>You may also like</h2>
						{% include 'partials/products.twig' with { 'products': product.related_products, 'container_class': 'items-products related-products-slider', 'product_box_class': ' ' } %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if soft_add_button %}
		<div class="shopwired-basket-modal">
			<div class="inner">
				<h2>
					The item has been added to your basket
				</h2>
				<div class="items"></div>
				<div class="buttons">
					<div class="close-button shopwired-basket-modal-button">
						Continue Shopping
					</div>
					<a href="/checkout/basket" class="shopwired-basket-modal-button main-background-color">
						Proceed To Checkout
					</a>
				</div>
				<div class="close close-button alternative-background-color"></div>
			</div>
		</div>
	{% endif %}

{% endblock %}
