{% extends 'templates/collection.twig' %}

{% set title = 'Search Results' %}
{% set show_filters = products|length > 0 %}
{% set wide = true %}

{% block items %}

	{% include 'partials/products.twig' %}

{% endblock %}
