{% extends 'templates/page.twig' %}

{% set title = 'Stockists' %}

{% block content %}

	<h2 class="headline-lg">Find a stockist</h2>
	<p>Search for a stockists by entering a town/city or postcode below.</p>
	<div class="row">
		<div class="col-md-6">
			<form action="{{ global.current_url }}" method="get">
				<div class="input-group input-button margin-tb-md">
					{{ html.input('location_query', query, 'form-control') }}
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Search</button>
					</span>
				</div>
			</form>
		</div>
	</div>
	{% if stockists is defined %}
		<div class="stockist-box">
			<div class="row">
				{% for stockist in stockists %}
					{% if loop.index0 % 2 == 0 and loop.index0 > 0 %}
						{{ '</div></div><div class="stockist-box"><div class="row">' }}
					{% endif %}
					<div class="col-md-6">
						<div class="stockist-box-full">
							<div class="row">
								<div class="col-xs-7 full-xxs">
									<h5>{{ stockist.name }}</h5>
									<ul class="list-unstyled">
										<li>{{ stockist.address|nl2br }}</li>
									</ul>
								</div>
								<div class="col-xs-5 full-xxs">
									<h5 class="stockists-town">{{ stockist.country }}</h5>
									{% if stockist.map_url %}
										<a href="{{ stockist.map_url }}" class="map">Open Map</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<p class="col-sm-12">
						{{ default_message|default('No stockists found.') }}
					</p>
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}
