{% extends 'templates/page.twig' %}

{% set title = 'Our Videos' %}
{% set wide = true %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h1 class="headline-lg"><span>{{ title }}</span></h1>
		</div>
	</div>
	<div class="row">
		{% for video in videos %}
			<div class="col-sm-6">
				<div class="box-shadow-container box-shadow">
					<div class="border-container">
						<div class="embed-responsive embed-responsive-16by9">
							<div class="embed-responsive-item">
								<iframe width="488" height="275" src="{{ video.embed_code }}" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="video-title">
					<h3>
						{{ video.title }}
					</h3>
				</div>
			</div>
		{% else %}
			<p class="col-sm-12 text-left">
				No videos found.
			</p>
		{% endfor %}
	</div>

{% endblock %}
