{% extends 'templates/page.twig' %}

{% set title = 'Blog' %}

{% block above_main_content %}

	<div class="blog-navigation">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
					<button type="submit" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
						<span class="icon-blog-menu-icon"></span>
						<span class="menu-title">Blog Categories</span>
					</button>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
				<ul class="nav navbar-nav">
					{% for item in categories %}
						<li>
							<a href="{{ item.url }}">{{ item.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}

{% block main_content %}

	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">Our blog</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 content">
			{% block posts %}{% endblock %}
		</div>
		<div class="col-lg-3">
			<div class="blog-sidebar visible-lg">
				{% if archive %}
					<div class="sidebar-box">
						<h3>Archive</h3>
						<ul>
							{% for item in archive %}
								<li>
									<a href="{{ item.url }}">{{ item.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				{% if categories %}
					<div class="sidebar-box">
						<h3>Categories</h3>
						<ul>
							{% for item in categories %}
								<li>
									<a href="{{ item.url }}">{{ item.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
