{% extends 'templates/page.twig' %}

{% set sidebar_class = 'sidebar-category' %}

{% block content %}

	{% if wide %}
		<div class="row">
			<div class="col-sm-12">
				{% block collection %}
					<h2 class="headline-lg">
						{{ title }}
					</h2>
					{% if description %}
						<div class="p">
							{{ description|raw }}
						</div>
					{% endif %}
					<div class="collection-container" data-pages="{{ total_pages|default(1) }}">
						{% if show_filters %}
							{% include 'partials/product_filters.twig' with { 'sorting': true } %}
						{% endif %}
						<div class="items {{ is_parent_category ? 'item-categories' : 'items-products margin-tb-sm' }}">
							{% block items %}{% endblock %}
						</div>
						{% if show_filters %}
							{% include 'partials/product_filters.twig' with { 'sorting': false } %}
						{% endif %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% else %}
		{{ block('collection') }}
	{% endif %}

{% endblock %}
