{% import 'macros/html.twig' as html %}
{% import 'macros/shopwired.twig' as shopwired %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	{{ global.header|raw }}
	
	{% if global.theme.settings.gallery_background|length %}
		<style>
			body {
				background-image: url('{{ global.theme.settings.gallery_background[0].url }}');
			}
		</style>
	{% endif %}
	
	{{ html.stylesheet(asset_url('vendor/prettyPhoto.css')) }}
	{{ html.stylesheet(asset_url('vendor/bootstrap/bootstrap.css')) }}
	{{ html.stylesheet(asset_url('vendor/slick/slick.css')) }}
	{{ html.stylesheet(asset_url('vendor/slick/slick-theme.css')) }}
	{{ html.stylesheet(asset_url('dist/main.css')) }}
	
	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
		window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"/privacy-policy","theme":"dark-bottom"};
	</script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
	<!-- End Cookie Consent plugin -->
</head>
<body>
	{% block body %}
		{% include 'partials/header.twig' %}
		{% block page_content %}{% endblock %}
		{% include 'partials/footer.twig' %}
		{{ shopwired.info_message() }}
	{% endblock %}
	
	{{ html.script(asset_url('vendor/URI.min.js')) }}
	{{ html.script(asset_url('vendor/jquery.min.js')) }}
	{{ html.script(asset_url('vendor/jquery.prettyPhoto.js')) }}
	{{ html.script(asset_url('vendor/jquery.validate.min.js')) }}
	{{ html.script(asset_url('vendor/jquery.customSelect.min.js')) }}
	{{ html.script(asset_url('vendor/throttle-debounce.min.js')) }}
	{{ html.script(asset_url('vendor/bootstrap/bootstrap.js')) }}
	{{ html.script(asset_url('vendor/slick/slick.min.js')) }}
	{{ html.script(asset_url('js/plugins.js')) }}
	{{ html.script(asset_url('js/application.js')) }}
	{{ html.script(asset_url('dist/main.js')) }}
	{{ global.footer|raw }}
</body>
</html>