{% extends 'templates/master.twig' %}

{% block page_content %}

	{% block above_main_content %}{% endblock %}
	<div class="container content-container">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					{% block extra_breadcrumbs %}{% endblock %}
					<li>
						<span class="active">
							{{ breadcrumb_title|default(title) }}
						</span>
					</li>
				</ol>
			</div>
		</div>
		{% block main_content %}
			{% if wide %}
				{% block content %}{% endblock %}
			{% else %}
				<div class="row">
					<div class="col-lg-3">
						<div class="sidebar visible-lg {{ sidebar_class }}">
							{% block sidebar %}
								{{ shopwired.link_list('list_sidebar', '', false, 'h3') }}
							{% endblock %}
						</div>
					</div>
					<div class="col-lg-9 content content-auto">
						{{ block('content') }}
					</div>
				</div>
			{% endif %}
		{% endblock %}
	</div>

{% endblock %}