.basket-container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid @color-border;
  
  .qty {
    width: 105px;
    margin: 0 auto;
    
    button {
      dispaly: inline-block;
    }
  }
}

.basket-product-img {
  max-width: 240px;
}

.basket-product-update {
  text-align: center;
  
  .product-price {
    color: @color-theme;
    font-weight: 500;
    font-size: 18px;
    padding-top: 5px;
  }
  
  .remove-product {
    margin-top: 5px; 
  }
  
  .remove-product a { 
    color: #ca0000;
    
    span {
      vertical-align: middle;
    }
  }
}

.basket-product-info {
  .headline-xs {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .selected-name {
    padding-right: 20px;
    display: inline-block;
    text-transform: capitalize;
  }
  
  .selected-option {
    font-weight: 500;
    text-transform: capitalize;
  }
}

.extra-selected {
  margin-top: 20px;

  p {
    margin-bottom: 0;
  }
}

.qty {
  text-align: center;
  
  ::-webkit-input-placeholder {
    text-align: center;
    color: @color-text;  
  }
  
  :-moz-placeholder {
     text-align: center;  
     color: @color-text;  
  }
  
  ::-moz-placeholder {
     text-align: center;  
     color: @color-text;  
  }
  
  :-ms-input-placeholder {
     text-align: center;  
     color: @color-text;  
  }
  
  .qty-box {
    display: inline-block;
    background: #fff;
    border: 1px solid @color-border;
    padding: 5px 10px;
    text-align: left;
    
    span {
      color: @color-text;
      display: inline-block;
      font-size: 1rem;
      width: 35px;
      font-weight: 500;
      text-align: center;
    }
    
    input {
      border: 0;
      width: 40px;
      display: inline-block;
      color: @color-text;
      text-align: center;
      font-weight: bold;
      background: transparent;
    }
  }
  
  button {
    border: 0;
    font-size: 10px;
    font-weight: 500;
    box-shadow: none;
    background: transparent;
    color: @color-theme;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 5px 0 0 0 !important;
  }
}

.basket-boxes {
  .paypal-payment {
    text-align: right;
  }
}

.basket-box {
  margin-bottom: 20px;
  border: 1px solid @color-border;
  padding: 15px;
  
  h4 {
    color: @color-theme;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 3px;
    border-bottom: 1px solid @color-border;
  }
  
  p {
    margin-bottom: 10px;
  }
}

.summary {
  text-align: left;
  font-weight: 300;

  .text-right {
    text-align: right;
    font-weight: 500;
    
    p {
      font-weight: 500;
    }
  }
  
  .summary-total {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 500;
    
    p {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

/* MEDIA QUERIES */
@media(min-width: 1040px) {
  .basket-product-update {
    .inline {
      margin-left: 30px;
      float: left;
      
      &:fist-child {
        margin-left: 0;
      }
    }
    
    .qty-box {
      display: block;
    }
  }
  
  .basket-container .qty-box {
    margin: 0 auto;
  }
}

@media(max-width: 1040px) {
  .basket-container .qty {
    margin-top: 10px;
  }
  
  .basket-product-update {
    .inline {
      display: block;
    }
    
    .qty button {
      padding: 5px 0 0 0 !important;
    }
  }
  
  .basket-boxes {
    .paypal-payment {
      text-align: center;
    }
  }
  
  .inline.hide-under-lg {
    display: none;
  }
}

@media(max-width: 670px) {
  .basket-product-img {
    margin-bottom: 10px;
  }
  
  .basket-product-update {
    text-align: left;
    
    .qty, .remove-product {
      display: inline-block;
      float: left;
    }
    
    .remove-product {
      padding-left: 20px;
      margin-top: 15px;
    }
  }
}

@media(max-width: 380px) {
  .selected-name, .selected-extra {
    display: block;
  }
}
