.blog-container {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid @color-border;
  display: table;
}

.blog-content {
  display: table-cell;
  width: auto;
  vertical-align: top;
  
  h2 {
    font-size: 26px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
  }
}

.blog-image {
  float: left;
  
  img {
    width: 210px;
    max-width: 210px;
    margin-right: 15px;
    display: inline-block;
  }
}

.date-container {
  display: table;
  background: @color-theme;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.date {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: .8;
  
  .month {
    font-size: 9px;
  }
}

.blog-sidebar {
  margin-left: 50px;
  margin-top: 10px;
  
  .sidebar-box  {
    padding-bottom: 20px;
    padding-right: 20px;
  }
  
  .sidebar-box + .sidebar-box {
    padding-top: 30px;
    border-top: 1px solid @color-border;
  }
  
  h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    
    a {
      color: @color-theme;
      text-transform: capitalize;
      font-size: 13px;
      font-weight: 100;
      display: block;
      padding: 5px 0;
      padding-left: 18px;
      
      &:before {
        font-size: 10px;
        content: "\e601";
        font-family: "icomoon";
        display: inline-block;
        margin-right: 8px;
        margin-left: -18px;
        color: @color-theme;
      }
    }
  }
}

/* BLOG NAVIGATION FOR MOBILE  */
.blog-navigation {
  display: none;
  
  .navbar-toggle {
    float: none;
    border: 0;
    border-radius: 0;
    background: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    
    &:focus, &:hover {
      background: transparent;
    }
    
    &:before {
      content: "\e609";
      font-family: "icomoon";
      color: #fff;
      margin-right: 5px;
    }
  }
  
  .navbar-header {
    margin: 0;
    float: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    
    .menu-title {
      font-weight: 700;
    }
    
    .icon-blog-menu-icon {
      font-size: 20px;
      vertical-align: middle;
    }
  }
  
  .navbar-collapse {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    border: 0;
    box-shadow: none;
    
    .navbar-nav {
      margin: 0 -10px;
      padding-bottom: 10px;
      background: @color-blue;
      
      li {
        padding-left: 20px;
        
        a {
          padding: 10px 0;
          color: #fff;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          padding-left: 24px;
          
          &:focus, &:hover {
            background: @color-blue;
            color: #fff;
          }
        }
      }
    }
  }
  
  .navbar-default {
    background: @color-blue;
    color: #fff;
    min-height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid #fff;
  }
}

/* MEDIA QUERIES */
@media(max-width: 1040px) {
  .blog-navigation {
    display: block;
  }
}

@media(max-width: 490px) {
  .blog-image {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blog-content {
    display: block;
  }
}