[class*=" button-"] {
  border: 0;
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 10px;
  text-transform: uppercase;

  &:focus, &:hover {
    opacity: .8;
    outline: none;
  }
}

.btn:focus, .btn:active {
  outline: none !important;
  outline: -webkit-focus-ring-color auto 0 !important;
  outline-offset: 0 !important;
  box-shadow: none;
}

.button-theme {
  color: @setting_color_button_font;
  background-color: @setting_color_button_background;

  &:focus, &:hover {
    color: #fff;
  }
}

.button-t-theme {
  color: @color-theme;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  display: block;
  padding: 0;
  margin: 0;

  &:focus, &:hover {
    color: @color-theme;
  }
}

/* CHECKOUT ADDRESS BUTTONS */
.button-secure-payment {
  color: @proceed-to-secure-payment-font;
  background-color: @proceed-to-secure-payment-bg;

  &:focus, &:hover {
    color: @proceed-to-secure-payment-font;
  }
}

.button-paypal {
  color: @pay-by-paypal-font;
  background-color: @pay-by-paypal-bg;
  box-shadow: inset 0 0 1px @color-grey;

  img {
    display: inline-block;
    margin-left: 5px;
  }

  &:focus, &:hover {
    color: @pay-by-paypal-font;
  }
}

.button-pay-offline {
  color: @pay-offline-font;
  background-color: @pay-offline-bg;
  padding: 5px 10px;

  &:focus, &:hover {
    color: @pay-offline-font;
  }
}

/* CHECKOUT BASKET BUTTONS */
.button-proceed-to-checkout {
  color: @proceed-to-checkout-font;
  background-color: @proceed-to-checkout-bg;

  span:before, span:after {
    content: "-";
  }

  &:focus, &:hover {
    color: @proceed-to-checkout-font;
  }
}

.button-redeem-points {
  color: @redeem-points-font;
  background-color: @redeem-points-bg;

  &:focus, &:hover {
    color: @redeem-points-font;
  }
}

/*PRODUCT PAGE */
.button-add-to-basket {
  color: @add-to-basket-font;
  background-color: @add-to-basket-bg;

  &:focus, &:hover {
    color: @add-to-basket-font;
  }
}

.button-out-of-stock {
  color: @add-to-basket-font;
  background-color: @add-to-basket-bg;

  &:focus, &:hover {
    color: @add-to-basket-font;
  }
}

.button-add-to-wishlist {
  color: @add-to-wishlist-font;
  background-color: transparent;
  text-transform: uppercase;
  padding: 0;

  &:before {
    content: "\e605";
    font-family: "icomoon";
    color: @color-theme2;
    padding-right: 5px;
    font-size: 20px;
    vertical-align: middle;
  }

  &:focus, &:hover {
    color: @add-to-wishlist-font;
  }
}
.btn-white{
	color: @color-text;
	border: 1px solid @color-border;
}