.form-errors {
	color: red;
	list-style: none;
	margin: 15px 0;
	padding: 0;

	&:first-child {
		margin-top: 0;
	}
}
.form-with-validation {
	div.error {
		display: block;
		margin-top: 5px;
		color: #f00;
	}
}
.collection-container {
	&.loading .items {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(255, 255, 255, 0.6);
			width: 100%;
			height: 100%;
			z-index: 100;
		}
	}
}
#product-container {
	.product-sale-price-value, .reward-points, .add-button, .in-stock, .video-container, .qty {
		display: none !important;
	}
	&.in-stock {
		.in-stock {
			display: inline !important;
		}
		.out-of-stock {
			display: none !important;
		}
	}
	&.has-sale-price {
		.product-sale-price-value {
			display: inline !important;
		}
	}
	&.has-reward-points {
		.reward-points {
			display: inline-block !important;
		}
	}
	&.can-be-added { 
		.add-button, .qty {
			display: inline-block !important;
		}
		.out-of-stock-button {
			display: none !important;
		}
	}
	&.playing-video {
		.main-photo {
			display: none !important;
		}
		.video-container {
			display: block !important;
		}
	}
	.video-container {
		padding-bottom: 100%;
		height: 0;
		background-color: #000;
		z-index: 20;
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			border: none;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.shopwired-basket-modal {
	.close-button {
		opacity: 1;
	}
	.buttons a {
		//color: @setting_color_basket_font;
		//background-color: @setting_color_basket_background;
	}
	.buttons .close-button {
		//color: @setting_color_wishlist_font;
		//background-color: @setting_color_wishlist_background;
	}
}
.pagination .page-link, .pagination a {
	@media screen and (max-width: 640px) {
		display: none;

		&[data-page='prev'], &[data-page='next'], &.current {
			display: block;
		}
	}
}
/* ==== */
.content-auto p {
	margin: 15px 0 0;
}
.account-home-table td {
	vertical-align: top !important;
}
.basket-product-img, .item-product, .item-category, .items-products {
	.shopwired-image-container {
		padding-bottom: 84%;
	}
}
.paypal-express-button {
	border: none;
	background: none;
	padding: 0;
}
.billing-form {
	display: none;
}
.product-label {
	z-index: 90;
}
.blog-container {
	display: block;
	overflow: hidden;

	.blog-image {
		float: none;

		img {
			width: auto;
			height: auto;
			max-width: none;
			margin: 0;
		}
	}
	.blog-content {
		display: block;
	}
	p {
		margin: 15px 0 0;
	}
}
#product-container {
	.product-sku-value {
		padding: 0;
		display: inline;
	}
	&.has-sale-price .product-price-value {
		text-decoration: line-through;
	}
}
