@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html, body, h1,h2,h3,h4,h5,h6, p {
	font-family: 'Quicksand', sans-serif;
}
html{
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}

/* ICOMOON */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?h01gfm');
	src:url('../fonts/icomoon.eot?#iefixh01gfm') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?h01gfm') format('truetype'),
		url('../fonts/icomoon.woff?h01gfm') format('woff'),
		url('../fonts/icomoon.svg?h01gfm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], span[class^="icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow2:before {
	content: "\e601";
}
.icon-checkbox:before {
	content: "\e602";
}
.icon-checkbox-not-checked:before {
	content: "\e603";
}
.icon-delete:before {
	content: "\e604";
}
.icon-review-heart:before {
	content: "\e605";
}
.icon-search-icon:before {
	content: "\e606";
}
.icon-shopping-bag:before {
	content: "\e607";
}
.icon-triangle:before {
	content: "\e608";
}
.icon-secondleftarrow:before {
	content: "\e60e";
}
.icon-secondrightarrow:before {
	content: "\e60f";
}
.icon-close-icon:before {
	content: "\e611";
}
.icon-open-icon:before {
	content: "\e610";
}
.icon-blog-menu:before {
	content: "\e609";
}
