footer {
  color: @color-light;

  a {
    color: @color-light;
  }
}

.socials {
  margin-bottom: 10px;

  img {
    width: 32px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.footer {
  background: @setting_color_top_footer_background;
  padding: 25px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  color: @setting_color_top_footer_text;

  h2 {
    font-size: 13px;
    color: @setting_color_top_footer_titles;
    margin: 0;
    font-weight: 700;
  }

  .contact span {
    display: block;
    margin-bottom: 5px;

    &.email {
      word-break: break-all;
    }
  }

  .highlight {
    font-weight: 700;
    color: @setting_color_top_footer_titles;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    margin-bottom: 5px;
  }
}

.subfooter {
  background: @setting_color_bottom_footer_background;
  padding-top: 10px;
  font-size: 12px;
  color: @setting_color_bottom_footer_text
}

/* MEDIA QUERIES */
@media(min-width: 1040px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .contact, .no-padding-l {
      padding-left: 0;
    }

    .contact {
      padding-right: 40px;
    }
  }

  body {
    min-height: 100%;
    position: relative;
    padding-bottom: 223px;
  }

  html {
    height: 100%;
  }
}

@media(max-width: 1040px) {
  footer {
    .socials {
      padding-top: 20px;
    }
  }

  .footer h2 {
    margin-bottom: 20px;
  }

  .br {
    display: none;
  }
}

@media(max-width: 790px) {
  footer {
    .text-right {
      text-align: left;
    }

    .contact, .no-padding-l {
      padding-top: 20px;
    }
  }
}
