label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 100;
  display: block;
}

.form-control {
  border-radius: 0;
  border: 1px solid @color-border;
  box-shadow: none;
  
  &:focus, &:hover {
    box-shadow: none;
    outline: none;
  }
  
  &:focus {
    border-color: @color-light;
  }
}

input:focus, input:hover {
  box-shadow: none;
  outline: none;
}

textarea {
  min-height: 100px;
}

.password-forgotten {
  color: @color-theme;
  font-size: 13px;
  font-weight: 500;
  float: right;
  text-transform: lowercase;
}

/* CUSTOM SELECT  */
span.customSelect { 
  color: @color-grey;
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  background: #fff url(../images/custom-select.png) 98% center no-repeat;
  background-size: 22px;
  border: 1px solid @color-border;
  padding: 7px 9px;
  border-radius: 0;
  
}

.custom-select {
  cursor: pointer;
  box-shadow: none;
}

/* CUSTOM CHECKBOX/RADIO */
.custom-checkbox {
  text-transform: none;
  font-size: 12px;
  color: @color-text;
  display: block;
  font-weight: 100;
  cursor: pointer;
  padding: 5px 0;
  padding-left: 27px;
  
  input {
    display: none;
  }
  
  span {
    font-size: 26px;
    color: @color-theme;
    vertical-align: middle;
    display: inline-block;
  }
  
  .icon-toggle {
    margin-left: -30px;
  }
}

/* INPUT GROUP WITH ICON */
.input-icon {
  background: #fff;
  padding: 2px 0;
  
  input, .btn {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    
    &:focus, &:hover {
      box-shadow: none;
    }
  }
  
  .btn {
    margin-left: 0;
    padding: 0;
    padding-right: 5px;
  }
  
  [class^="icon-"] {
    color: @color-theme;
    font-size: 16px;
    vertical-align: middle;
  }
}

/* INPUT GROUP WITH BUTTON */
.input-button {
  background: #fff;
  padding: 2px 0;
  
  input, .btn {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    
    &:focus, &:hover {
      box-shadow: none;
    }
  }
  
  input {
    border: 1px solid @color-border;
    border-right: 0;
  }
  
  .btn {
    font-size: 14px;
    text-transform: uppercase;
    background: @color-theme;
    border: 1px solid @color-theme;
    color: #fff;
    margin-left: 0;
    z-index: 2;
  }
}

/* CONTACT PAGE */
.contact-info {
  font-weight: 500;
}

/* CHECKOUT LOGIN PAGE */
.checkout-login-form {
  margin-top: 10px;
  
  .headline-xs {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 16px;
  }
}

/* CHECKOUT ADDRESS PAGE */
.checkout-form {
  h4 {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  
  .billing-form {
    h4 {
      margin-top: 20px;
    }
  }
}

.payments-buttons {
  margin-top: 15px;
  
  button {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}

.payments-icons {
  margin-bottom: 15px;
} 

/* MEDIA QUERIES */
@media(min-width: 670px) {
  .checkout-login-form {
    .padding-sm-l {
      border-left: 1px solid @color-border;
    }
  }
}

@media(min-width: 790px) {
  .create-account, .gift-card-form {
    .padding-md-r {
      padding-right: 40px;
    }

    .padding-md-l {
      padding-left: 40px;
    }
  }
}

@media(min-width: 1040px) {
  .checkout-login-form {
    .guest-checkout {
      padding-left: 20px;
    }
    
    .padding-lg-r {
      border-right: 1px solid @color-border;
    }
  }
  
  .checkout-form {
    .padding-lg-r {
      padding-right: 40px;
    }

    .padding-lg-l {
      padding-left: 40px;
    }
  }
}

@media(max-width: 1040px) {
  .checkout-login-form {
    .guest-checkout .headline-xs {
      padding-top: 20px;
    }
  }
}

@media(max-width: 790px) {
  .contact-info {
    padding-bottom: 20px;
  }
}

@media(max-width: 670px) {
  .checkout-login-form {
    margin-top: 0;
    
    .headline-xs {
      padding-top: 10px;
    }
    
    .guest-checkout .headline-xs {
      padding-top: 10px;
    }
  }
  
  .payments-buttons button {
    margin-right: 0;
  }
  
  .payments-icons {
    text-align: center;
  }
}
