body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-size: cover;
}

p {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
}

.p {
  padding-bottom: 10px;
}

.border-tb {
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
  margin-top: -1px;
  padding: 5px
}

.content-container {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
}

.text-theme {
  color: @color-theme;
}

img {
  max-width: 100%;
}

.inline {
  display: inline-block;
}

.row-table {
  display: table;
}

a {
  word-wrap: break-word;
  color: @color-theme;

  &:focus, &:hover {
    color: @color-theme;
    text-decoration: none;
    outline: none;
  }
}

.sort-options {
  a {
    font-size: 11px;
    text-transform: uppercase;
    color: @color-theme;
    font-weight: 300;

    &.active, &:hover {
      color: @color-text;
    }

    &:before {
      content: "| ";
      color: @color-grey;
      padding: 0 5px;
    }

    &:first-child:before {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: @color-titles;
}

strong {
  font-weight: normal;
  color: @color-dark;
}

.videos {
  .video-title {
    height: 55px;
    text-align: center;

    h3 {
      font-size: 13px;
      text-transform: capitalize;
      margin: 0;
      font-weight: 500;
    }
  }
}

/* HEADLINES */
.headline-lg {
  background: @setting_color_main_titles_background;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
  padding: 5px 0;
  color: @setting_color_main_titles_font;
}

.headline-xs {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/* MARGINS */
.no-margin {
  margin: 0;
}

.margin-tb-sm {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-tb-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-t-sm {
  margin-top: 10px;
}

.margin-t-md {
  margin-top: 20px;
}

.margin-b-sm {
  margin-bottom: 10px;
}

.margin-b-md {
  margin-bottom: 20px;
}

.margin-l-sm {
  margin-left: 10px;
}

.margin-r-sm {
  margin-right: 10px;
}

/* PADDINGS */
.no-padding {
  padding: 0;
}

.padding-t-sm {
  padding-top: 10px;
}

.padding-b-sm {
  padding-bottom: 10px;
}

.padding-l-sm {
  padding-left: 10px;
}

.padding-r-sm {
  padding-right: 10px;
}

/* WIDTH */
.medium {
  width: 70%;
}

.small {
  width: 40%;
}

.full-width {
  width: 100%;
}

/* BREADCRUMBS */
.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;

  a, span {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0;
    color: @color-theme;
    font-weight: 100;

    &:hover {
      text-decoration: none;
      color: @color-dark;
    }

    &.active {
      color: @color-dark;
      cursor: default;
    }
  }

  & > li + li:before {
    content: "» ";
    padding: 0 2px;
    color: @color-dark;
    font-size: 13px;
  }
}

/* CONTENT */
.content {
  .p {
    padding-bottom: 15px;
  }
}

/* VISIBILITY */
.show-under-sm {
  display: none;
}

.show-under-md {
  display: none;
}

/* MEDIA QUERIES */
@media(min-width: 670px) {
  .checkout-login-form {
    .padding-sm-r {
      padding-right: 20px;
    }

    .padding-sm-l {
      padding-left: 20px;
    }
  }
}

@media(min-width: 790px) {
  .padding-md-r {
    padding-right: 20px;
  }

  .padding-md-l {
    padding-left: 20px;
  }
}

@media(min-width: 1040px) {
  .content-container {
    border-right: 1px solid @color-border;
    border-left: 1px solid @color-border;
    padding-left: 15px;
    padding-right: 15px;
  }

  .padding-lg-r {
    padding-right: 20px;
  }
}

@media(max-width: 1040px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  body {
    background: #fff;
  }

  .full-lg {
    width: 100%;
  }

  .hide-under-lg {
    display: none;
  }
}

@media(max-width: 790px) {
  .hide-under-md {
    display: none;
  }

  .show-under-md {
    display: block;
  }

  .small, .medium, .full-md {
    width: 100%;
  }
}

@media(max-width: 670px) {
  .hide-under-sm {
    display: none;
  }

  .show-under-sm {
    display: block;
  }

  .full-sm {
    width: 100%;
  }
}

@media(max-width: 490px) {
  .sort-options {
    display: block;
    margin-bottom: 15px;
  }

  .full-xxs {
    width: 100%;
  }
}
