header {
  background: #fff;
    @media @md{
        padding-bottom: 85px;
    }
    
    a{
        #header-font();
    }
}
.header-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .user-menu {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;


      li {
        display: inline-block;
        margin: 0 10px;
      }

      li:first-child {
        margin-left: 20px;
      }

      a {
          #header-font();
          &:active, &:focus, &:hover{
              color: @setting_color_accent;
          }
      }
    }
}

.currencies-menu {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 10px;
  }

  a {
    color: @color-light;
    text-transform: uppercase;

    &.active, &:hover {
      color: @color-theme;
    }
  }
}

.shopping-box {
  height: 45px;

  a {
      margin: 0 10px;
  }

  .shopping-bag, .wishlist  {
    background-color: @setting_color_basket_header_background;
    color: @setting_color_basket_header_font;
  }
}

/*MAIN NAVIGATION */
.main-navigation-container {
  background: @setting_color_category_background;
  color: @setting_color_category_font;
  .navbar-default {
    background: none;
    border: 0;
    box-shadow: none;
    min-height: 1px;
    margin-bottom: 0;
    z-index: 1000;

    @media screen and (max-width: 1040px) {
      background-color: @setting_color_category_background;
    }

    .navbar-nav > li > a {
      color: @setting_color_category_font;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .navbar-collapse {
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  .navbar-toggle {
    float: none;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    background: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 700;

    &:focus, &:hover {
      background: transparent;
    }

    &:before {
      content: "\e611";
      font-family: "icomoon";
      color: #fff;
      margin-right: 5px;
    }

    &.collapsed:before {
      content: "\e610";
      font-family: "icomoon";
      color: #fff;
      margin-right: 5px;
    }
  }
}
.search-hide {
  position: relative;
  height: 40px;
}

#search-show {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1000;

  span {
    font-size: 30px;
    color: #fff;
  }
}

.search-show {
  position: relative;
  height: 40px;

  .input-group {
    input, .btn {
      border: 0;
      border-radius: 0;
      background: transparent;
      color: #fff;
      box-shadow: none;
      height: 40px;
    }

    .btn {
      padding: 5px 0;

      span {
        font-size: 30px;
        color: #fff;
      }
    }

    input {
      padding-left: 30px;
      color: #fff;
    }

    ::-webkit-input-placeholder {
       color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #fff;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;
    }

    :-ms-input-placeholder {
       color: #fff;
    }
  }
}

#search-hide {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  z-index: 1000;

  span {
    color: #fff;
    font-size: 18px;
  }
}

/* top-header */
.top-header-mobile {
  display: none;
  padding-left: 20px;
  height: 45px;
  line-height: 45px;
    
  .user-menu {
    dispaly: inline-block;
    li:first-child {
      margin-left: 0;
    }
  }

  .shopping-box {
    float: right;
  }
}

#menu-trigger {
  display: none;
  text-transform: uppercase;
  color: @color-text-white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
    
  img {
    display: inline-block;
    width: 22px;
    margin-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

#user-menu-collapsed {
  display: none;
  background: @color-border;
  padding: 0 20px;
  list-style: none;

  a {
    color: @color-dark;
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
  }
}

/* MEDIA QUERIES */
@media(min-width: 1040px) {
  .navbar-default .main-navigation {
    .dropdown-menu {
      border: 2px solid @color-theme;
      border-top: 0;
      border-radius: 0 0 1px 1px;
      -moz-box-shadow: 4px 4px 3px 3px rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 4px 4px 3px 3px rgba(255, 255, 255, 0.7);
      box-shadow: 4px 4px 3px 3px rgba(255, 255, 255, 0.7);
      background: #fff;
      padding: 8px;

      li a {
        padding: 8px 0;
        padding-left: 15px;
        padding-right: 11px;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        color: @color-grey;

        &:focus {
          background: transparent;
        }

        &:hover {
          color: @color-theme;
          background: transparent;
        }

        &:before {
          content: "\e60f";
          font-family: "icomoon";
          color: @color-theme;
          font-size: 10px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -7px;
        }
      }
    }

    .navbar-nav > li:first-child > a {
      padding-left: 0;
    }

    li.dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }

    .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
      background: transparent;
      color: #fff;
    }
  }
}

@media(max-width: 1040px) {
  .top-header-mobile {
    display: block;
  }

  .main-navigation-container {
    & > .container {
      padding: 0;

      & > .row {
        margin: 0;
      }

      .search-hide, .search-show {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .navbar-header {
      padding: 0 20px;
    }

    .navbar-nav {
      margin: 0;
    }

    .search-show .input-group input {
      padding-left: 50px;
    }

    .search-show .input-group .btn {
      padding-right: 20px;
    }
  }

  .navbar-default .main-navigation {
    .navbar-nav > li {
      padding-left: 20px;
      padding-right: 20px;

      & > a {
        padding-left: 24px;
        font-size: 13px;
      }
    }

    li.dropdown .dropdown-toggle {
      position: relative;
    }

    li.dropdown .dropdown-toggle:before, li.open .dropdown-toggle:before {
      content: "\e610";
      font-family: "icomoon";
      color: #fff;
      margin-right: 5px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }

    li.open .dropdown-toggle:before {
      content: "\e611";
    }

    li.dropdown .dropdown-toggle:focus, li.dropdown .dropdown-toggle:hover {
      background: transparent;
      color: #fff;
    }

    .dropdown-menu {
      border: 0;
      padding: 0;
      background: transparent;
      box-shadow: none;

      li > a {
        font-size: 12px;
        font-weight: 300;
        padding-left: 40px;
        text-transform: uppercase;
        white-space: pre-wrap;
        color: #fff !important;
        background: transparent;
      }
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
      color: #fff;
      background: transparent;
    }
  }

  #search-show {
    right: 20px;
  }

  #search-hide {
    left: 20px;
  }

  .user-menu.hide-under-lg, .shopping-box.hide-under-lg {
    display: none;
  }

  .currencies-menu {
    margin-top: 10px;
  }
}

@media(max-width: 790px) {
  .top-header-mobile .user-menu {
    display: none;
  }

  #menu-trigger {
    display: inline-block;
  }
}

@media(max-width: 670px) {
  .currencies-menu, .logo {
    text-align: center;
  }

  .logo {
    display: block;
    width: 100%;

    img {
      max-width: 300px;
    }
  }
}

@media(max-width: 340px) {
  .logo {
    img {
      width: 100%;
    }
  }
}

/* 2018 theme changes */
.nav-bar{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: 60px;
    div{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    #logo{
        align-self: flex-start;
        a img{
            width: 60px;
            height: 60px;
            max-width: 150px;
            max-height: 150px;   
            
            @media @md{
                width: 150px;
                height: 150px;
                max-width: 150px;
                max-height: 150px;                
            }
        }

        @media @md{
            margin-left: 35px;
            margin-right: 3vw;
        }
    }
    .header-menu{
        flex-grow: 2;
    }
    .header-right{
        justify-content: flex-end;
        margin-right: 2vw;
        .currencies-menu{
            margin-top: 0;
        }
    }
}
