.gallery-title {
  height: 55px;
  text-align: center;

  h3 {
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
    font-weight: 500;
  }
}

.items-gallery .box-shadow-container {
  &.box-shadow:before, &.box-shadow:after {
    bottom: 10px;
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg); 
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    left: 10px;
  }
  
  &.box-shadow:after {
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg); 
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    left: auto;
    right: 10px;
  }
}

/* MEDIA QUERIES */
@media(max-width: 400px) {
  .item-gallery {
    width: 100%;
  }
}