.item-product {
  position: relative;
}

.product-title {
  padding: 15px 0;
  
  h4 {
    font-size: 2rem;    
    font-weight: 400;
    line-height: 1.3em;
	a{
		color: @color-text;		
	
		&:hover, &:active{
			color: @color-theme;
		}
	}
  }
  
  .product-price-value {
    color: @setting_color_price;
    font-weight: 400;
    margin: 10px 0;
  }
  
  .product-sale-price-value {
    color: @setting_color_sale_price;
    font-weight: 400;
	margin: 10px 0;
      
    & + .product-price-value {
      text-decoration: line-through;
      color: @setting_color_price;
    }
  }
  
  .pull-left {
    width: 64%;
  }
  
  .pull-right {
    text-align: right;
    width: 35%;
    line-height: 1.1;
  }
	.btn {
		width: 66%;
		background-color: @color-dark-grey;
		color: @color-text-white;
		line-height: 1.45em;
		margin: 15px 0;
	}  
}

.product-label {
  color: @setting_color_two_font;
  background: @setting_color_two_background;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 900;
  
  &.new {
    right: auto;
    left: 10px;
    background: @setting_color_new_background;
	color: @setting_color_new_font
  }
}

/* MEDIA QUERIES */
@media(max-width: 400px) {
  .items-products .item-product {
    width: 100%;
  }
}