.category-title {
  text-align: center;
  height: 55px;
  
  h4 {
    margin: 0;
    font-size: 14px;
    color: @color-theme;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    background: #fff;
    padding: 10px;
    width: 80%;
    -moz-box-shadow: 5px 5px 0px 0px #e6e6e6;
    -webkit-box-shadow: 5px 5px 0px 0px #e6e6e6;
    box-shadow: 5px 5px 0px 0px #e6e6e6;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -webkit-transform: -webkit-translateY (-60%);
    transform: translateY(-60%);
    
  }
  h1{
	  font-weight: 400;
	  font-size: 40px;
	  margin: 1em 0 .5em;
  }
}
.category-description, .category-description p{	
	font-weight:400;
	font-size: 28px;
	margin: 1em 0 .5em;
}


/* MEDIA QUERIES */
@media(min-width: 790px) and (max-width: 1040px) {
  .featured-categories .item-category:nth-of-type(4) {
    display: none;
  }
}

@media(max-width: 400px) {
  .items-categories .item-category {
    width: 100%;
  }
}

.items-categories{
	.items{
		margin-top: 1em;
	}
}