.pagination {
  margin: 0;
  padding: 0;
  
  & > li > a {
    color: @color-theme;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    display: inline-block;
    background: #fff;
    border-radius: 0;
    padding: 0;
    
    &:before, &:after {
      content: "|";
      color: @color-border;
      width: 1px;
      display: inline-block;
      margin-left: -1px;
    }
    
    &:before {
      padding-right: 12px;
    }
    
    &:after {
      padding-left: 12px;
    }
    
    &.current, &:hover {
      color: @color-text;
      background: #fff;
    }
  }
}

.pagination-container {
  display: inline-block;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: @color-text;
  background: #fff;
  border: 0;
}

.pagination > li:first-child > a {
  border-left: 0;
  padding-left: 0;
  
  &:before {
    content: "";
    padding-right: 0;
  }
}

.pagination > li:last-child > a {
  border-right: 0;
  padding-right: 0;
  
  &:after {
    content: "";
    padding-left: 0;
  }
}

/* MEDIA QUERIES */
@media(max-width: 670px) {
  .pagination > li > a { 
    display: none;
  }
  
  .pagination > li > a.current, .pagination > li:first-child > a, .pagination > li:last-child > a  { 
    display: inline-block;
  }
}

@media(max-width: 490px) {
  .pagination-container {
    display: block;
    
    &.pull-right {
      float: none !important;
    }
  }
}