#product-container {
  margin-top: 15px;
	
	 &.in-stock {
      .stock-requests-container {
      display: none;
      } 
    }
}

.product {
  .product-price-value {
    color: @color-text;
    font-size: 3.5rem;
    font-weight: 400;	
  }
	.price-value{
		margin: 1em 0;
	}
  .product-sale-price-value {
    color: @color-theme;
    font-size: 3.5rem;
    font-weight: 800;
	margin-right: .6em;
  }
  .control-label{
	font-size: 2.3rem;
	font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .product-option{
	  list-style: none;
	  padding: 0;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-around;
	  width: 100%;	  
		li{
			text-align: center;
			text-align: center;
			display: flex;
			justify-content: center;
			float: left;
			min-height: 140px;
			width: 40%;
			flex-basis: 40%;
			margin: 1.3vh 0 ;
			padding: 5px 15px !important;
			border: 2px solid #e1e1e1;
			border-radius: 5px;
			padding: 0 10px;
			cursor: pointer;
			&>span{
				align-self: center;
				font-weight: 700;
				font-size: 1.8rem;
				@media @lg {
					font-size: 2rem;
				}
			}
			&.active{
				background-color: @color-grey-light;
			}
		}
		li[data-property-name*="Sensor"], 
		li[data-property-name*="Bluetooth"],
		li[data-property-name*="Basic"]{
			background-size: 70px;
			background-repeat: no-repeat;
			background-position: center 15px;						
			&>span{
				font-size: 1.6rem;
				line-height: 1.3em;
				font-weight: 700;
				align-self: flex-end;
				@media @lg{
					font-size: 1.4rem;
				}
			}
		}	
		li[data-property-name*="Sleep Sensor"]{
			background-image: url(../images/serce-no-app-ikona.svg); 
		}
		li[data-property-name*="Bluetooth"]{
			background-image: url(../images/serce-app-ikona.svg);			
		}
		li[data-property-name*="Basic"]{
			background-image: url(../images/serce-no-app-gray-ikona.svg);			
		}		
  }
  .more-variant-info{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;	  
	margin-top: 1em;
	  .prop{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;		  
		  .icon {
			filter: brightness(0.1);
			width: 70px;			  
		  }
		  label {
			font-size: 1.8rem;
			font-weight: 800;
		  }
	  }
	  h4{
		flex-basis: 100%;
		text-align: center;
		margin: 1em 0;
		text-transform: uppercase;  
	  }
  }
  
  
  .product-add-buttons{
	.btn{
		padding: 10px 20px;
		line-height: 1.5;
		margin: .6em .6em .6em 0;
		&:before {
			line-height: 1;
		}
		&.large{			
			height: 5rem; 
			@media @s{ 
				width: 60%;
			}
		}
	}
	.qty-box{
		padding: 0;
		height: 5rem;
		@media @md{
			margin-left: 10%;	
		}
		input{
			height: 100%;
			&[type="number"]{
				-webkit-appearance: textfield;
				-moz-appearance: textfield;
				appearance: textfield;	
			}
			&.minus, &.plus{
				padding-left: 0.5em;
				padding-right: 0.5em;
				background-color: @color-grey-light;
				border: 0px solid @color-border;
				width: 1.7em;
			}
		}
	}
  }
  
}

.ratings {
  display: inline-block;
  margin-right: 15px;
  
  span {
    color: @setting_color_reviews;
    cursor: pointer;
    vertical-align: middle;
    
    &.rate {
      opacity: .5;
    }
  }
}

.product-left {
  .main-image {
    border: 1px solid @color-border;
  }
}

.product-right {
  .headline-lg {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    text-transform: none;
  }
  
  label {
    padding-top: 7px;
    text-transform: capitalize;
  }
  
  hr {
    border-color: @color-border;
    margin: 15px 0;
	border-width: 2px;
  }
  
  .qty {
    display: inline-block;
    vertical-align: top;
  }
  
  .product-video {
    display: block;
    margin-top: 15px;
    color: @color-theme;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }
}

.product-add-buttons {
  .btn {
    
  }
}

.product-info {
  margin: 10px 0;
  
  span {
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 5px;
  }
  
  .code:after, .brand:after {
    content: " //";
    display: inline-block;
    padding: 0 5px;
  }
  
  .rrp-price {
    color: @color-theme;
  }
  
  .two-for-one-label {
    float: right;
    color: #fff;
    background: @color-theme2;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px;
    text-align: center;
    font-weight: 300;
  }
}

.view-reviews, .hide-reviews {
  color: @color-theme2;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
  
  &:hover {
    opacity: .7;
    color: @color-theme2;
  }
}

.reward-points {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}

.product-reward-points-value {
  background: @reward-points-highlighter;
  color: #fff;
  padding: 5px;
  font-size: 13px;
  margin: 0 3px;
  vertical-align: middle;
}

.reviews-hidden {
  h3 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}

.reviews-visible {
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
  margin: 15px 0;
  padding: 15px 0;
  
  .customer-name {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .customer-review {
    font-size: 12px;
    
    [class^="icon-"], [class*=" icon-"] {
      font-size: 13px;
    }
    
    p {
      font-size: 12px;
    }
  }
  
  .customer-review  + .customer-review  {
    margin-top: 20px;
  }
  
  .leave-review {
    h3 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
}

/* VISIBILITY */
.video-container { 
  display: none;
  border: 1px solid @color-border;

  img {
    visibility: hidden;
  }
}

.product {
  .product-sale-price-value, .add-button, .product-form .in-stock {
    display: none;
  }
}

#product-container.has-sale-price {
  .product {
    .product-sale-price-value {
      display: inline-block;
    }

    .product-price-value {
      text-decoration: line-through;
    }
  }
	
}

#product-container.can-be-added .add-button {
  display: inline-block;
}

#product-container.can-be-added .button-out-of-stock
 {
  display: none;
}

#product-container.in-stock {
  .product-form .in-stock {
    display: inline-block;
  }
  
  .product-form .out-of-stock {
    display: none;
  }
}

 #product-container.playing-video {
  .video-container {
    display: block;
  }
   
   .main-image {
     display: none;
   }
}

/* MEDIA QUERIES */
@media(max-width: 1040px) {
  .product-left {
    width: 590px;
    margin: 0 auto;
  }
}

@media(max-width: 670px) {
  .product-add-buttons {
    .btn {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

@media(max-width: 560px) {
  .product-left {
    width: 100%;
  }
}

@media(max-width: 490px) {
  .reward-points {
    float: none !important;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}


/* Back in stock */

.stock-requests-container{
	margin-top:10px;
	
	.inputs{
		display:flex;
		margin-top:10px;
		
		> *{
			flex-grow: 1;
			margin-right:10px;
			width: auto;
			
			&:last-child{
				margin-right:0px;
			}
		}
		
		button{
			background-color: #89cfbc;
			color: #fff;
			border: 0px;
			font-weight: 500;
			text-transform: uppercase;
			font-size: 11px;
		}
	}
}

@media(max-width: 670px){
	.stock-requests-container{
		.inputs{
			display:block;
			
			> *{
				width:100%;
				margin-bottom:10px;
				margin-right:0px;
			}
			
			button{
				padding: 6px 10px;
    			font-size: 13px;
			}
		}
	}
}

.extra-info{
	margin-top: 2em;
	display: flex;
	justify-content: center;
	.props{		
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		padding-left: 0;
		padding-inline-start: 0;
		max-width: 38em;
		.prop{
		  display: flex;
		  flex-basis: 50%; 
		  flex-flow: row nowrap;
		  align-items: center;
		  margin-bottom: 2em;			
			.icon{
				display: flex;
				flex-shrink: 0;
				img{
				  filter: brightness(.1);
				  width: 50px;
				  margin: 0 1em;					
				}				
			}
			label {
				text-transform: none;
				font-size: 18px;
				font-weight: bold;	
				flex-shrink: 2;
			}
		}
	}
}
