@setting_color_accent: #61cbc8;
@setting_color_accent_two: #61cbc8;
@setting_color_accent_three: #61cbc8;
@setting_color_font: #333240;
@setting_color_font_white: #fefefe;
@setting_color_titles: #333240;
@setting_color_main_titles_background: #fefefe;
@setting_color_main_titles_font: #333240;

/* BUTTONS */
@setting_color_button_font: #fefefe;
@setting_color_button_background: #333240;

@setting_color_make_payment_background: #333240;
@setting_color_make_payment_font: #fefefe;

@setting_color_paypal_background: #fefefe;
@setting_color_paypal_font: #333240;

@setting_color_offline_background: #333240;
@setting_color_offline_font: #fefefe;

@setting_color_checkout_background: #333240;
@setting_color_checkout_font: #fefefe;

@setting_color_redeem_background: #333240;
@setting_color_redeem_font: #fefefe;

@setting_color_wishlist: #333240;

@setting_color_add_basket_background: #333240;
@setting_color_add_basket_font: #fefefe;

/* PRODUCT */
@setting_color_rewards: #61cbc8;
@setting_color_price: @setting_color_font;
@setting_color_sale_price: @setting_color_accent;
@setting_color_two_font: @setting_color_font;
@setting_color_two_background: #fefefe;
@setting_color_new_background: @setting_color_font;
@setting_color_new_font: @setting_color_font_white;
@setting_color_reviews: @setting_color_font;


/* HEADER */
@setting_color_basket_header_background: #333240;
@setting_color_basket_header_font: #fefefe;
@setting_color_category_background: #333240;
@setting_color_category_font: #fefefe;

/* FOOTER */
@setting_color_top_footer_background: @setting_color_button_background;
@setting_color_top_footer_text: @setting_color_font_white;
@setting_color_top_footer_titles: @setting_color_font_white;
@setting_color_bottom_footer_background: @setting_color_top_footer_background;
@setting_color_bottom_footer_text: @setting_color_font_white;

/* 
   media
*/

@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@xs:          ~"only screen and (min-width: @{xs-min})";
@xs-only:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@s:         ~"only screen and (min-width: @{sm-min})";
@s-only:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@md:        ~"only screen and (min-width: @{md-min})";
@lg-only: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@lg:          ~"only screen and (min-width: @{lg-min})";

/* my mixins */
#header-font(){
    font-size:  16px;
	font-weight: 500;
	color: @setting_color_font_white;
	text-transform: uppercase;
	letter-spacing: .1em; 
} 