.box-shadow-container {
  margin-bottom: 15px;
  
  &.box-shadow {
    position: relative;
    z-index: 1;
  }

  &.box-shadow:before, &.box-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 9px;
    left: 20px;
    width: 50%;
    top: 70%;
    max-width: 300px;
    background: none repeat scroll 0% 0% #929292;
    box-shadow: 0px 13px 1px #929292;
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg); 
    -webkit-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }

  &.box-shadow:after {
    -moz-transform: rotate(1.5deg);
    -ms-transform: rotate(1.5deg); 
    -webkit-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
    right: 20px;
    left: auto;
  }
}

.border-container {
  border: 1px solid @color-border;
  padding: 10px;
  background: #fff;
}