.shopwired-info-message {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	padding: 25px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 9999;
	opacity: 0;

	a {
		color: inherit;
	}
}
.shopwired-image-container {
	position: relative;
	display: block;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%;

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		height: auto;
	}
}
.shopwired-previous-orders-table {
	font-size: 13px;
	margin: 30px 0 0;
	width: 100%;

	th {
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		padding: 0 20px 10px;
	}
	td {
		padding: 5px 20px;
	}
	th, td {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-left: 0;
		}
	}
	.empty {
		text-align: center;
	}
}
.shopwired-order-details {
	font-size: 13px;

	.section {
		margin-top: 30px;
	}
	.label {
		display: inline-block;
		vertical-align: top;
		width: 225px;
		text-transform: uppercase;
	}
	.value {
		display: inline-block;
		vertical-align: top;
		max-width: 770px;
		font-weight: 700;
	}
}
.shopwired-order-products {
	font-size: 13px;
	margin: 30px 0 0;
	width: 100%;

	th {
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		padding: 0 20px 2px;
	}
	td {
		padding: 8px 20px;
	}
	th, td {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-left: 0;
		}
	}
	.empty {
		text-align: center;
	}
	.separator:last-child {
		display: none;
	}
}
.shopwired-share-buttons {
	a {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		width: 32px;
		height: 32px;
		text-decoration: none;
		background-repeat: no-repeat;
		-webkit-background-size: 32px;
		background-size: 32px;
	}
	.facebook {
		background-image: url('//static.kodajo.com/sharing/facebook.jpg');
	}
	.twitter {
		background-image: url('//static.kodajo.com/sharing/twitter.jpg');
	}
	.pinterest {
		background-image: url('//static.kodajo.com/sharing/pinterest.jpg');
	}
	.google {
		background-image: url('//static.kodajo.com/sharing/google.jpg');
	}
	.tumblr {
		background-image: url('//static.kodajo.com/sharing/tumblr.jpg');
	}
}
.shopwired-form-field {
	display: none !important;
}
.shopwired-basket-modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
	color: #000;
	line-height: 1.2;
	font-size: 13px;
	font-weight: normal;

	.inner {
		width: 700px;
		border: 5px solid #f2f2f2;
		margin: 0 auto;
		background-color: #fff;
		padding: 22px;
		position: relative;
		box-sizing: border-box;
	}
	h2 {
		margin: 0;
		font-size: 18px;
		font-weight: normal;
	}
	.items {
		margin-top: 30px;
	}
	.item {
		overflow: hidden;

		.shopwired-image-container {
			width: 150px;
			height: 150px;
			padding: 0;
			float: left;
			box-sizing: border-box;
		}
		.info {
			margin-top: 15px;
			background-color: #f8f8f8;
			margin-left: 150px;
			display: table;
			width: 496px;

			.title {
				font-size: 16px;
			}
			.options {
				font-size: 0;
				margin-top: 5px;

				span {
					display: inline-block;
					vertical-align: top;
					font-size: 12px;

					&::after {
						display: inline-block;
						vertical-align: top;
						content: ',';
						margin: 0 4px 0 -3px;
					}
					&:last-child::after {
						display: none;
					}
				}
			}
			.basket-remove-button {
				color: #ca0134;
				font-size: 13px;
			}
			.column {
				display: table-cell;
				vertical-align: middle;
				height: 120px;
				box-sizing: border-box;

				&:first-child .content {
					padding: 20px 0 20px 25px;
					width: 333px;
					box-sizing: border-box;
				}
				&:last-child .content {
					width: 140px;
					text-align: center;
					box-sizing: border-box;
				}
			}
			.price {
				font-size: 20px;
				display: block;
				margin-bottom: 5px;
			}
		}
		& + .item {
			margin-top: 15px;
		}
	}
	.buttons {
		text-align: right;
		margin-top: 35px;
	}
	.shopwired-basket-modal-button {
		display: inline-block;
		vertical-align: top;
		height: 40px;
		line-height: 38px;
		padding: 0 40px 2px;
		text-align: center;
		border: none;
		background: #000;
		text-transform: uppercase;
		font-size: 13px;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		margin-left: 10px;
	}
	.main-color {
		color: #2272a4;
	}
	.main-background-color {
		background-color: #2272a4;
	}
	.alternative-color {
		color: #ca0134;
	}
	.alternative-background-color {
		background-color: #ca0134;
	}
	.close {
		position: absolute;
		right: -20px;
		top: -20px;
		width: 36px;
		height: 36px;
		background: #000 url('../images/default/basket-modal-close-button.png') center no-repeat;
		-webkit-background-size: 16px;
		background-size: 16px;
		border-radius: 50%;
		font-size: 0;
		cursor: pointer;
	}
	@media screen and (max-width: 767px) {
		.inner {
			width: auto;
			margin-left: 24px;
			margin-right: 24px;
			padding: 15px;
		}
		h2 {
			text-align: center;
		}
		.item {
			.shopwired-image-container {
				margin: 0 auto;
				float: none;
			}
			.info {
				margin: 15px 0 0;
				display: block;
				width: auto;
				padding: 15px;

				.column {
					display: block;
					height: auto;
					vertical-align: top;

					.content {
						min-height: 1px !important;
						padding: 0 !important;
						width: auto !important;
						text-align: left !important;
					}
				}
				.price {
					margin: 5px 0;
				}
			}
			& + .item {
				margin-top: 20px;
			}
		}
		.shopwired-basket-modal-button {
			display: block;
			width: 100%;
			margin: 15px 0 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.collection-container {
	.page-link.hidden {
		display: none;
	}
}
