.sidebar {
  margin-top: 20px;
  margin-bottom: -50px;
  
  h3 {
    color: @color-theme;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
    padding: 0 5px;
    padding-bottom: 8px;
    padding-top: 17px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid @color-border;
  }
  
  ul {
    list-style: none;
    padding: 8px 5px;
  }
  
  
  li {
    margin: 0;
  }
  
  a {
    color: @color-text;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 0;
    display: block;
    font-weight: 500;
    
    &:hover {
      color: @color-theme;
    }
  }
}

.sidebar-category {
  li.dropdown .dropdown-toggle {
    position: relative;
  }

  li.dropdown .dropdown-toggle:after {
    content: "\e610";
    font-family: "icomoon";
    position: absolute;
    right: -5px;
    top: 8px;
    color: @color-theme;
  }

  li.open .dropdown-toggle {
    color: @color-theme !important;
  }

  li.open .dropdown-toggle:after {
    content: "\e611";
  }
  
  a {
    padding-right: 30px;
  }

  .dropdown-menu {
    position: relative;
    float: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1px;
    padding: 0;
    
    li {
      border: 0;
    }

    li a {
      white-space: pre-wrap;
      font-size: 12px;
      color: @color-dark;
      
      &:focus {
        background: transparent;
      }

      &:focus, &:hover {
        color: @color-theme !important;
        background: transparent;
      }
    }
  }
}

/* MEDIA QUERIES */
@media(min-width: 1040px) {
  .sidebar {
    margin-right: 15px;
    padding-right: 25px;
    border-right: 1px solid @color-border;
    height: 100%;
  }
  
  .content.content-auto {
    padding-left: 0;
  }
}