/* BANNER SLIDER ON HOME PAGE */
.banner-slider {
  margin-bottom: 50px;
  
  .slick-dots {
    text-align: right;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px 10px;
  }
  
  .slick-dots li {
    margin: 0
  }
  
  .slick-dots li button::before {
    font-size: 53px;
    color: @color-theme2;
  }
}

.banner-image {
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 40px;
  left: auto;
  right: 0;
  font-size: 24px;
  font-weight: 300;

  .p span {
    display: inline-block;
    background: rgba(126, 203, 185, 0.75);
	color: #ffffff;
    padding: 10px 15px;
	line-height: 1;
  }
}

@media(max-width: 490px) {
  .banner-text p span {
    font-size: 18px;
  }
}

/* NEW PRODUCTS SLIDER ON HOME PAGE */
.products-slider-container {
  margin-top: 30px;
  
  .product-label.new {
    left: 0;
  }
  
  .product-label.two-for-one {
    right: 0;
  }
  
  h2 {
    background: @color-theme;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    height: 40px;
    line-height: 40px;
  }
  
  .slide-arrow {
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    line-height: normal;
    height: 40px;
    line-height: 40px;
    
    [class^="icon-"], [class*=" icon-"] {
      font-size: 18px;
      vertical-align: middle;
    }
  }
  
  .slide-left-arrow {
    float: left;
    border-right: 2px solid #fff;
  }
  
  .slide-right-arrow {
    float: right;
    border-left: 2px solid #fff;
  }
  
  .slick-slide {
    margin: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }
}

/* THUMB SLIDER ON PRODUCT PAGE */
.product-thumb-slider {
  margin-top: 18px;
  
  .slick-slide {
    margin: 0 9px;
  }
  
  .slick-list {
    margin: 0 30px;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    cursor: pointer;
    
    span {
      font-size: 26px;
      color: @color-light;
    }
  }
  
  .slider-arrow-left {
    left: 0;
  }
  
  .slider-arrow-right {
    right: 0;
  }
}

/* MEDIA QUERIES */
@media(max-width: 400px) {
  .new-products-slider-container h2 {
    font-size: 12px;
  }
}