.stockist-box {
  h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  a {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  .stockists-town {
    margin-bottom: 20px;
  }
}

/* MEDIA QUERIES */
@media(min-width: 790px) {
  .stockist-box {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid @color-border;
  }
}

@media(max-width: 790px) {
  .stockist-box-full {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid @color-border;
  }
}

@media(max-width: 490px) {
  .stockist-box {
    .stockists-town {
      margin-bottom: 0;
    }
  }
}