.table  > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: bottom;
}

.table-responsive {
  border: 1px solid #dfe4e5;
  border-top: 0;
  
  thead {
    border-top: 1px solid #dfe4e5;
  }
}

.table {
  margin-bottom: 0;
}

.account-home-table {
  margin-top: 20px;
  
  .table > thead > tr > th {
    border-bottom: 0;
  }
  
  .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th {
    padding: 7px 10px;
    font-weight: 100;
    font-size: 13px;
  }
  
  .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 10px;
    color: @color-dark;
    font-size: 13px;
  }
}

.table-order {
  margin-top: 20px;
    
  h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  li {
    font-weight: 300;
    font-size: 13px;
  }
  
  li:empty {
    height: 20px;
  }
}

table.table-order-info {
  thead th {
    border-bottom: 0;
    font-weight: normal;
    padding: 0;
    
    h4 {
      font-size: 16px;
    font-weight: 500;
      text-transform: capitalize;
    }
  }
  
  tbody{
    tr td {
      border-top: 0;
      padding: 0;
      font-weight: 300;
      font-size: 13px;
    }
    
    td.text-bold {
        font-weight: 600;
      }
    
    tr.empty td {
        padding: 10px;
      }
  }
}

/* MEDIA QUERIES */
@media(max-width: 400px) {
  table.table-order-info {
    .text-bold {
      padding-left: 10px;
    }
  }
}
