@color-theme: @setting_color_accent;
@color-blue: @setting_color_accent_two;
@color-theme2: @setting_color_accent_three;
@color-border: #eaeaea;
@color-light: #fafafa;
@color-text: @setting_color_font;
@color-text-white: @setting_color_font_white;
@color-grey: #999;
@color-grey-light: #e1e1e1;
@color-dark: #333240;
@color-dark-grey: #333240;

@color-titles: @setting_color_titles;

/* BUTTONS */
@proceed-to-secure-payment-bg: @setting_color_make_payment_background;
@proceed-to-secure-payment-font: @setting_color_make_payment_font;

@pay-by-paypal-bg: @setting_color_paypal_background;
@pay-by-paypal-font: @setting_color_paypal_font;

@pay-offline-bg: @setting_color_offline_background;
@pay-offline-font: @setting_color_offline_font;

@proceed-to-checkout-bg: @setting_color_checkout_background;
@proceed-to-checkout-font: @setting_color_checkout_font;

@redeem-points-bg: @setting_color_redeem_background;
@redeem-points-font: @setting_color_redeem_font;

@add-to-wishlist-font: @setting_color_wishlist;

@add-to-basket-bg: @setting_color_add_basket_background;
@add-to-basket-font: @setting_color_add_basket_font;

/* PRODUCT */
@reward-points-highlighter: @setting_color_rewards;

