
.icon-basket:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */