{% macro stylesheet(url) %}
	<link rel="stylesheet" href="{{ url }}" />
{% endmacro %}

{% macro script(url) %}
	<script src="{{ url }}"></script>
{% endmacro %}

{% macro input(name, value, class, type, extra) %}
	<input type="{{ type|default('text') }}"{% if name %} name="{{ name }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}{% if extra %} {{ extra|raw }}{% endif %} />
{% endmacro %}

{% macro textarea(name, value, class, rows, cols, extra) %}
	<textarea cols="{{ cols|default('30') }}" rows="{{ rows|default('10') }}"{% if name %} name="{{ name }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if extra %} {{ extra|raw }}{% endif %}>{{ value }}</textarea>
{% endmacro %}

{% macro select(name, values, selected, class, first_option, extra) %}
	<select{% if name %} name="{{ name }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}{% if extra %} {{ extra|raw }}{% endif %}>
		{% if first_option %}
			<option value="">{{ first_option }}</option>
		{% endif %}
		{% for value in values %}
			<option value="{{ value.id|default(value) }}"{% if value.id|default(value) == selected %} selected="selected"{% endif %}>{{ value.name|default(value) }}</option>
		{% endfor %}
	</select>
{% endmacro %}
