{% macro link_list(name, class, hide_title, title_tag, title_class) %}
	{% set item = global.theme.settings[name] %}
	{% if item %}
		{% if item.title and not hide_title %}
			<{{ title_tag|default('h2') }}{{ title_class ? (' class="' ~ title_class ~ '"')|raw : '' }}>{{ item.title }}</{{ title_tag|default('h2') }}>
		{% endif %}
		<ul class="{{ class }}">
			{% for link in item.links %}
				<li>
					<a href="{{ link.url }}">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro snippet(name, raw) %}
	{% set content = global.theme.settings[name] %}
	{% if raw %}
		{{ content|raw }}
	{% else %}
		{{ content }}
	{% endif %}
{% endmacro %}

{% macro navigation_menu(categories, show_children, class, children_class, link_class) %}
	<ul class="{{ class }}">
		{% for category in categories %}
			<li class="{{ ((category.open ? 'open' : '') ~ ' ' ~ (category.id == global.category_id ? 'current' : ''))|trim }}">
				<a href="{{ category.url }}" class="{{ link_class|default('link') }}">{{ category.title }}</a>
				{% if show_children|default(true) and category.categories %}
					{{ _self.navigation_menu(category.categories, false, children_class|default('drop-down')) }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro form_errors(errors, class) %}
	{% if errors %}
		<ul class="{{ class|default('form-errors') }}">
			{% for error in errors %}
				<li>{{ error|raw }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro custom_form(settings) %}
	<input type="hidden" name="custom_form" value="1" />
	{% for name, value in settings %}
		<input type="hidden" name="custom_form_{{ name }}" value="{{ value }}" />
	{% endfor %}
{% endmacro %}

{% macro honeypot(class) %}
	<input type="text" name="{{ global.honeypot_field_name }}" autocomplete="off" class="{{ class|default('shopwired-form-field') }}" />
{% endmacro %}

{% macro info_message(class) %}
	{% if global.info_message %}
		<div class="{{ class|default('shopwired-info-message') }}">
			{{ global.info_message|raw }}
		</div>
	{% endif %}
{% endmacro %}
